{{ entries:listing
  folder="{fold}"
  limit="{lim}"
  taxonomy="{tax}"
  group_by_date="Y"
}}

    {{ if no_results }}
        <p>Sorry there are no entries to display at this time.</p>
    {{ else }}

    {{ if grouped_date || first }}
        {{ if !first }}
            </ul>
        {{ endif }}

        <h3 class="article-list__year">{{ if grouped_date}} {{ grouped_date }} {{ else }} {{ datestamp format="Y" }} {{ endif }}</h3>
        <span class="division-line"></span>
        <ul class="article-list">
    {{ endif }}

        <li class="article-list__item">
            <article class="article">
                <h4><a href="{{ url }}">{{ title }}</a></h4>
                {{ if date }}
                    <p class="article-list__date"><time datetime="{{ datestamp format="Y-m-d" }}">{{ datestamp format="jS F"}}</time></p>
                {{ endif }}
            </article>
        </li>
    {{ if last }}
    </ul>
    {{ endif }}

  {{ endif }}
{{ /entries:listing }}

{{# Add simple pagination: lim must equal entries limit #}}

{{ entries:pagination
  folder="{fold}"
  limit="{lim}"
  taxonomy="{tax}"
}}
  {{ if total_pages > 1 }}
  <div class="pagination">
    {{ if previous_page }}
      <a href="{{ previous_page }}" class="pagination__prev">&larr; Prev</a>
    {{ endif }}

    <span class="pagination__number">Page {{ current_page }} of {{ total_pages }}</span>

    {{ if next_page }}
      <a href="{{ next_page }}" class="pagination__next">Next &rarr;</a>
    {{ endif }}
  </div><!-- END .pagination -->
  {{ endif }}
{{ /entries:pagination }}

