{{ if main_img }}
  <div class="splash overlay" style="background-image: url('{{ main_img }}');">
    <div class="constrain">
        <div class="message">
            <h2>{{ title }}</h2>
            <p>{{ summary }}</p>
        </div>
    </div>
</div>
{{ endif }}

<div class="section {{ if !show_comments }}last{{endif}}">
<article class="article constrain article-full">
    {{ if !main_img }}
        <header class="page__header">
            <h2 class="section__title">{{ title }}</h2>
            <div class="section__divider"></div>
            <p class="section__description">{{ summary }}</p>
        </header>
    {{ endif }}

    <div class="article__main">
        {{ content }}
    </div><!-- END .main-content -->

    <footer class="article__footer">
        {{ if author || date || categories_list || tags_list }}
        <div class="article__meta">
            <span class="division-line"></span>

            {{ if date }}
                <p class="article__date"><b>Posted:</b> <time datetime="{{ datestamp format="Y-m-d" }}">{{ date }}</time></p>
            {{ endif }}

            {{ if categories_list && tags_list }}
                <p class="article__tax"><b>Category:</b> {{ categories_url_list }} <br> <b>Tagged:</b> {{ tags_url_list }}</p>
            {{ endif }}

            {{ if categories_list && !tags_list }}
                <p class="article__tax"><b>Category:</b> {{ categories_url_list }}</p>
            {{ endif }}

            {{ if !categories_list && tags_list }}
                <p class="article__tax"><b>Tagged:</b> {{ tags_url_list }}</p>
            {{ endif }}

        </div><!-- END .article__meta -->
        {{ endif }}
    </footer>
</article>
</div>

{{ if show_comments }}
<div class="section last article__comments">
    <div class="constrain">
        <h3 class="">Leave Your Comments</h4>
        <span class="article__share">
            or share via &nbsp;
            <a href="http://twitter.com/share?text={{title}} by @jackabox"><i class="fa fa-twitter"></i></a>
            <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{current_url}}&p[images][0]=&p[title]={{title}}&p[summary]="><i class="fa fa-facebook"></i></a>
            <a href="https://plus.google.com/share?url={{current_url}}"><i class="fa fa-google-plus"></i></a>
        </span>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'jackabox'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>
{{ endif }}
