<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
<meta charset="utf-8">

{{ theme:partial src="_meta" }}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- styles -->
<link rel="stylesheet" href="{{ theme:asset src="dist/css/includes.css" }}">
<link rel="stylesheet" href="{{ theme:asset src="dist/css/screen.css" }}">
<link rel="stylesheet" href="{{ theme:asset src="dist/css/prism.css" }}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- feeds -->
<link rel="alternate" type="application/rss+xml" href="{{ _site_url }}feed" title="{{ _site_name }} RSS Feed">

<!-- scripts -->
<script src="{{ theme:asset src="dist/js/includes.min.js" }}"></script>

<!-- analytics -->
{{ theme:partial src="_analytics" }}

</head>