<footer role="contentinfo" class="site__footer">
    <div class="constrain">
        <span class="division-line">&nbsp;</span>
        <small>
            <strong>T:</strong> 07010073638<br/>
            <strong>E:</strong> jack@jackabox.co.uk<br/>
            &copy; {{ current_date format="Y" }} <a href="{{ _site_root }}">{{ _site_name }}</a><br/>
            Powered by <a href="http://statamic.com">{{ noparse }}{{ statamic }}{{ /noparse }}</a>
        </small>
    </div><!-- END .constrain -->
</footer>