<header role="banner" id="header" class="site__header">
    <div class="constrain">
        <div class="site__logo">
            <h1><a href="{{ _site_root }}">{{ _site_name }}</a></h1>
        </div>

        <nav role="navigation" class="site__nav">
            <ul class="nav__list nav__list--primary">
                {{ if segment_1 == "" }}
                    <li class="nav__list-item"><a title="Works" class="stop" href="#works">Works</a></li>
                    <li class="nav__list-item"><a title="About" class="stop" href="#about">About</a></li>
                    <li class="nav__list-item"><a title="Testimonials" class="stop" href="#testimonials">Testimonials</a></li>
                    <li class="nav__list-item"><a title="Contact" class="stop" href="#contact">Contact</a></li>
                    <li class="nav__list-item"><a title="Blog" href="{{ site_root }}/blog">Blog</a></li>
                {{ else }}
                    <li class="nav__list-item"><a title="Works" href="{{ site_root }}/#works">Works</a></li>
                    <li class="nav__list-item"><a title="About" href="{{ site_root }}/#about">About</a></li>
                    <li class="nav__list-item"><a title="Testimonials" href="{{ site_root }}/#testimonials">Testimonials</a></li>
                    <li class="nav__list-item"><a title="Contact" href="{{ site_root }}/#contact">Contact</a></li>
                    <li class="nav__list-item"><a title="Blog"{{ if segment_1 == "blog" }} class="current"{{ endif }} href="{{ site_root }}/blog">Blog</a></li>
                {{ endif }}
            </ul>
        </nav>
    </div><!-- END .constrain -->
</header>
<div class="site__header--antijump">&nbsp;</div>