 <nav role="navigation" class="st-menu st-effect-1" id="menu-1">
    <ul class="nav__list nav__list--primary">
        {{ if segment_1 == "" }}
            <li class="nav__list-item"><a title="Works" class="stop" href="#works">Works</a></li>
            <li class="nav__list-item"><a title="About" class="stop" href="#about">About</a></li>
            <li class="nav__list-item"><a title="Testimonials" class="stop" href="#testimonials">Testimonials</a></li>
            <li class="nav__list-item"><a title="Contact" class="stop" href="#contact">Contact</a></li>
            <li class="nav__list-item"><a title="Blog" href="{{ site_root }}/blog">Blog</a></li>
        {{ else }}
            <li class="nav__list-item"><a title="Works" href="{{ site_root }}/#works">Works</a></li>
            <li class="nav__list-item"><a title="About" href="{{ site_root }}/#about">About</a></li>
            <li class="nav__list-item"><a title="Testimonials" href="{{ site_root }}/#testimonials">Testimonials</a></li>
            <li class="nav__list-item"><a title="Contact" href="{{ site_root }}/#contact">Contact</a></li>
            <li class="nav__list-item"><a title="Blog"{{ if segment_1 == "blog" }} class="current"{{ endif }} href="{{ site_root }}/blog">Blog</a></li>
        {{ endif }}
    </ul>
</nav>