<section id="header">
    <div class="sequence-theme" {{ if img }} style="background-image:{{img}}" {{endif}}>
        <div class="hero">
            <h2>{{ title }}</h2>
        </div>
    </div>
</section>

<section class="post-body">
	<div class="row">
		<div class="ten columns push_one left">
			{{ content }}
		</div>
	</div>
</section>