{{ taxonomy:listing folder="blog" type="categories" }}
  {{ if no_results }}
    <p>{{ no_results_text }}</p>
  {{ else }}

    <h3>{{ name|title }}</h3>
    {{entries:listing folder="blog" conditions="categories:{name}"}}

      {{ if no_results }}
        {{ no_results_text }}
      {{ else }}
        <p><a href="{{ url }}" title="{{ title }}">{{ title }}</a></p>
      {{ endif }}
    {{ /entries:listing }}

  {{ endif }}
{{ /taxonomy:listing }}