{{ entries:listing folder="blog" limit="10" sort_dir="desc" }}
    
    <section class="post-{{ switch between="odd|even" }}">
        <div class="row">
            <div class="ten columns centered">
                <div class="post-group ">
                    <h3><a href="{{ url }}" title="{{ title }}">{{ title }}</a></h3>
                    <p>{{ datestamp format="F jS, Y" }}</p>
                </div><!--.post-group-->
            </div>
        </div>
    </section>

{{ /entries:listing }}

{{ entries:pagination folder="blog" limit="10" }}
  {{ if next_page || previous_page }}
    <section class="post-body">
        <div class="row post-pagination">
            <div class="ten columns centered">
                {{ if next_page }}<a href="{{ next_page }}" title="Older Posts">&larr; Older Posts</a>{{ endif }}
                {{ if previous_page }}<a href="{{ previous_page }}" title="Newer Posts">Newer Posts &rarr;</a>{{ endif }}
            </div>
        </div>
    </section>
  {{ endif }}
{{ /entries:pagination }}