<section id="header">
    <div class="sequence-theme" {{ if img }} style="background:url({{img}}) 50% 50% no-repeat; background-size: cover" {{endif}}>
        <div class="hero">
            <h2 {{ if color }} style="color:#{{color}};" {{endif}}>{{ title }}</h2>
            <img src="" alt="">
        </div>
    </div>
</section>

<section class="post-body">
	<div class="row">
		<div class="ten columns push_one left">
			<p class="entry-date">
				<span class="first">Posted on </span>
				<span class="last">
				Share via &nbsp;
				<a href="http://twitter.com/share?text={{title}} by @jackabox - "><i class="icon-twitter"></i></a>
				<a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{current_url}}&p[images][0]=&p[title]={{title}}&p[summary]="><i class="icon-facebook"></i></a>
				<a href="https://plus.google.com/share?url={{current_url}}"><i class="icon-gplus"></i></a>
				</span>
			</p>
		</div>
	</div>
</section>