{{ if taxonomy_slug }}

{{ entries:listing folder="blog" limit="5" sort_dir="desc" taxonomy="yes" }}

<div class="blog-entry">

{{ if type == "Quote" }}

<div class="quotes row">
  <div class="two columns">
    <p class="entry-details">
      <strong>{{ datestamp format="M jS Y" }}</strong> <br />
      {{ if categories }}
        <strong>--</strong> <br/>
        <small>{{ categories_url_list }}</small>
      {{ endif }}
    </p><!-- .entry-details -->
  </div><!-- .two -->

  <div class="ten columns">
    {{ content }}
    <p class="author">
        {{ author }} 
    </p>
  </div><!-- .ten -->
</div><!-- .quotes -->

{{ elseif type == "Video" }}
<div class="video row">
  <div class="two columns">
    <p class="entry-details">
      <strong>{{ datestamp format="M jS Y" }}</strong> <br />
      {{ if categories }}
        <strong>--</strong> <br/>
        <small>{{ categories_url_list }}</small>
      {{ endif }}
    </p><!-- .entry-details -->
  </div><!-- .two -->

  <div class="ten columns">
    {{ if src != "" }}
      <iframe src="{{ src }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    {{ endif }}

    <h3 class="no-bottom"><a href="{{ url }}" title="{{ title }}">{{ title }}</a></h3>
    <p>
      {{ truncate:words limit="60" }} { brief } {{ /truncate:words }} <br />
      <strong>--</strong><br/>
      <strong><small><a href="{{url}}" title="Read more about {{title}}">Read More</a></small></strong>
    </p>

  </div><!-- .ten -->
</div><!--.video.row-->

{{ else }}

<div class="row">
  <div class="two columns">
    <p class="entry-details">
      <strong>{{ datestamp format="M jS Y" }}</strong> <br />
      {{ if categories }}
        <strong>--</strong> <br/>
        <small>{{ categories_url_list }}</small>
      {{ endif }}
    </p><!-- .entry-details -->
  </div><!-- .two -->

  <div class="ten columns">
    {{ if src != "" }}
      <p><img src="{{ src }}" alt="{{ title }}" width="100%" />
    {{ endif }}

    <h3 class="no-bottom"><a href="{{ url }}" title="{{ title }}">{{ title }}</a></h3>
    <p>
      {{ truncate:words limit="60" }} { brief } {{ /truncate:words }} <br />
      <strong>--</strong><br/>
      <strong><small><a href="{{url}}" title="Read more about {{title}}">Read More</a></small></strong>
    </p>

  </div><!-- .ten -->
</div><!--.picture.row-->

{{ endif }}

</div>    

<hr />

{{ /entries:listing }}

<br class="clear" />

{{ entries:pagination folder="blog" limit="10" taxonomy="yes" }}

  {{ if next_page }}
    <div class="six columns">
      <a href="{{ next_page }}">Older Posts</a>
    </div>
  {{ endif }}

  {{ if previous_page }}
    <div class="six columns textright">
      <a href="{{ previous_page }}">Newer Posts</a>
    </div>
  {{ endif }}


{{ /entries:pagination }}

{{ endif }}