/// -------------------
/// Function: Calculate Percent (CP)
/// -------------------

@function calc-percent($target, $container) {
    @return ($target / $container) * 100%;
}

@function cp($target, $container) {
    @return calc-percent($target, $container);
}


/// -------------------
/// Function: Calculate Rem (CR)
/// -------------------
@function calc-rem($size) {
    $remSize: $size / $base-font-size;
    @return $remSize * 1rem;
}

@function cr($size) {
    @return calc-rem($size);
}
