%clearfix
{
  *zoom: 1;
  &:before,&:after
  {
    display: table;
    content: ' ';
  }
  &:after
  {
    clear: both;
  }
}


%visuallyhidden
{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

// Images
%max-width
{
  max-width: 100%;
  height: auto;
}
