// Bourbon Grid Max
$max-width:                             em(1088);
$container-padding:                     em(20);

// Neat: Columns
$border-box-sizing:                     true;
$grid-columns:                          12;
$column:                                golden-ration(1em, 3);
$gutter:                                golden-ration(1em, 1);

// Neat: Defined Breakpoints
$mobile:                                new-breakpoint(max-width 480px 4);
$tablet:                                new-breakpoint(max-width 760px 8);

// Colours
$primary-colour:                        #444444;
$secondary-colour:                      #2a2a2a;

$colour-1:                              #929292; // dark grey/green
$colour-2:                              #e0ece8; // light grey/green
$colour-3:                              #eb946a; // orange
$colour-4:                              #E97861;
$underscore-colour:                     #DFDFDF; // faded green

$link-colour:                           $colour-4;
$link-hover-colour:                     darken($link-colour, 5%);

// Fonts
$font-family-one:                       'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-two:                       Georgia, serif;

// Typography
$base-font-family:                      $font-family-one;
$base-font-size:                        16px;
$base-font-color:                       $primary-colour;
