html
{
  min-height: 100%;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
}

body
{
  min-height: 100%;
  font-family: $font-family-one;
  color: $base-font-color;

  @include font-size($base-font-size);
}