h1,h2,h3,h4,h5
{
  margin: 0;
  font-family: $font-family-one;
  font-weight: 700;
  color: $secondary-colour;
}

h1,h2
{
  @include font-size(36px);
  @include line-height(51px);
}

h3
{
  margin-top: 30px;
  margin-bottom: 10px;

  @include font-size(28px);
  @include line-height(41px);
}

h4
{
  @include font-size(24px);
  @include line-height(37px);
}

h5
{
  @include font-size(20px);
  @include line-height(33px);
}

h6
{
  @include font-size(18px);
  @include line-height(28px);
  margin: 0 0 10px 0;
}

p
{
  margin: 0 0 20px 0;

  @include font-size(18px);
  @include line-height(31px);
}

small
{
  @include font-size(14px);
  @include line-height(20px);
}


// Blockquotes
blockquote
{
  position: relative;
  margin: .25em 0;
  padding: 20px 60px;
  font-style: italic;
  font-family: $font-family-two;
  color: #777;
  &:before
  {
    position: absolute;
    top: 2px;
    left: -3px;
    display: block;
    font-size: 80px;
    content: '\201C';
    color: #aaa;
  }
  cite
  {
    display: block;
    margin-top: 5px;
    color: #999;

    @include font-size(14px);
    &:before
    {
      content: '\2014 \2009';
    }
  }
}

// Links
a,
a:visited
{
  text-decoration: none;
  color: $link-colour;

  @include transition(.3s all ease-in-out);
  &:hover,
  &:focus
  {
    color: $link-hover-colour;
  }
}

pre {
  margin-bottom: 20px;
}