<div class="section last">
    <div class="constrain">
        <header class="page__header">
            <h2 class="section__title">404: Oops, This Page Is Missing</h2>
            <div class="section__divider"></div>
            <p class="section__description">{{ content }}</p>
        </header>
    </div>
</div>