<div class="section last">
    <div class="constrain">
        <header class="page__header">
            <h2 class="section__title">{{ title }}</h2>
            <div class="section__divider"></div>
            <p class="section__description">{{ summary }}</p>
        </header>

        <main role="main">
            <section class="articles">
            {{ theme:partial src="_article_listing" fold="{blog_name}" lim="20" tax="no" }}
            </section>
        </main><!-- END role="main" -->
    </div>
</div>
