<header class="section">
    <div class="constrain">
        <h2 class="section__title">{{ title }}</h2>
        <div class="section__divider"></div>
        <p class="section__description">{{ summary }}</p>
    </div>
</header>

<div class="page__content">
    <main role="main" class="constrain">
        {{ content }}
    </main><!-- END role="main" -->

    {{ if segment_1 == "" }}
    <section class="articles">
        {{ theme:partial src="_article_listing" fold="{blog_name}" lim="20" tax="no" }}
    </section>
    {{ endif }}
</div>