<div class="section">
    <div class="constrain">
        <header class="page__header">
            {{ if segment_2 == "categories" }}
              <h2 class="section__title">Posts In Category: {{ taxonomy_slug|deslugify|title }}{{ if get:page > 0 }} &ndash; Page {{ get:page }}{{ endif }}</h2>
            {{ endif }}
            {{ if segment_2 == "tags" }}
              <h2 class="section__title">Posts Tagged With: {{ taxonomy_slug|deslugify|title }}{{ if get:page > 0 }} &ndash; Page {{ get:page }}{{ endif }}</h2>
            {{ endif }}
            <div class="section__divider"></div>
            <p class="section__description">{{ summary }}</p>
        </header>

        <main role="main">
            <section class="articles">
              {{ theme:partial src="_article_listing" fold={blog_name} lim="5" tax="yes" }}
            </section>
        </main><!-- END role="main" -->
    </div>
</div>
