label
{
  display: block;
  margin-bottom: 10px;
  font-weight: 600;

  @include font-size(16px);
  span
  {
    color: $link-colour;
    font-weight: 400;
    font-style: italic;
  }
}

textarea,
#{$all-text-inputs}
{
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  color: #777;
  border: 1px solid #e3e3d9;

  @include font-size(14px);
  &:focus
  {
    outline: 0;
    box-shadow: inset 0 0 0 2px #ddd;
  }
}

textarea
{
  height: 161px;
  resize: none;
}

.btn,button
{
  padding: 9px 16px 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  border: none;
  background: $link-colour;

  @include transition(.3s all ease-in-out);
  &:hover,&:active,&:focus
  {
    background: $link-hover-colour;
  }
}
