.site__header
{
  z-index: 500;
  width: 100%;
  background: #474747;
  height: 80px;
  padding-top: 5px;
  border-bottom: 3px solid $secondary-colour;
  @include media(max-width 40em) {
    width: auto;
    height: 50px;
    padding-top: 0;
    border-bottom: 0;
  }
  &.scrolled
  {
    position: fixed;
    top: 0;
  }
  &--antijump {
    height: 80px;
    display: block;
    width: 100%;
    @include media(max-width 40em) {
      display: none;
    }
  }
}

.site__logo
{
  @include span-columns(4 of 12);
  h1
  {
    @include font-size(24px);
    @include line-height(24px);
    @include media(max-width 40em) {
      margin: -6px 0 0 0;
      padding: 0;
      line-height: 1;
    }
  }

  a,a:visited
  {
    color: darken(white, 10%);;
  }
  a:hover,a:focus
  {
    color: $link-colour;
  }
}
