.site__nav
{
  @include span-columns(8 of 12);
  ul
  {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
  }
  li
  {
    display: inline-block;
    margin: 0 0 0 20px;
  }
  a,a:visited
  {
    padding-bottom: 5px;
    font-weight: 600;
    line-height: 28px;
    color: darken(white, 10%);
  }
  a:hover,a:focus
  {
    color: $link-colour;
  }
  a.current
  {
    color: $link-colour;
  }
}

.slicknav_menu {
  display:none;
}

@media screen and (max-width: 40em) {
  /* #menu is the original menu */
  .site__nav ul {
    display: none;
  }

  .slicknav_menu {
    display: block;
    border-bottom: 3px solid $secondary-colour;

  }
}