.splash
{
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background: $colour-1;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  .constrain
  {
    position: relative;
    z-index: 150;

    @include center(y);
  }
  h2
  {
    margin-bottom: 10px;
    color: white;

    @include font-size(48px);
    @include media(max-width 600px)
    {
      line-height: 1.2;

      @include font-size(32px);
    }
  }
  p
  {
    margin-bottom: 80px;
    font-style: italic;
    color: $colour-2;

    @include font-size(18px);
  }
  .message
  {
    z-index: 150;
    max-width: 60%;

    @include media(max-width 870px)
    {
      max-width: 70%;
    }
    @include media(max-width 500px)
    {
      max-width: 90%;
    }
  }
  a
  {
    display: inline-block;
    padding: 12px 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: $colour-2;
    border: 3px solid $underscore-colour;

    @include font-size(18px);
    @include transition(.3s all ease-in-out);
    @include media(max-width 600px)
    {
      padding: 9px 20px;

      @include font-size(16px);
    }
    &:hover,&:focus
    {
      color: white;
      background: $underscore-colour;
    }
  }
  &.overlay
  {
    margin-top: -80px;
    &:after
    {
      position: absolute;
      z-index: 90;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background: rgba(#000, .6);
    }
    .message
    {
      max-width: 90%;
    }
  }
}

.page__header
{
  margin-bottom: 60px;
}
