.section
{
  padding-top: 70px;
  padding-bottom: 90px;
  border-bottom: 3px solid $underscore-colour;
  &__title
  {
    padding-bottom: 20px;
    line-height: 1.2;

    @include font-size(42px);
  }
  &__divider
  {
    display: block;
    width: 100px;
    height: 3px;
    margin-bottom: 20px;
    background-color: $underscore-colour;
  }
  &__description
  {
    margin-bottom: 30px;
    font-weight: 500;
    font-style: italic;
    color: #000;
  }
  &.last
  {
    border-bottom: 0;
  }
}

.division-line {
  display: block;
  width: 40px;
  background: $underscore-colour;
  height: 3px;
  margin-bottom: 20px;
}
