// Imports, Colours, and Fonts

@import "compass/css3";



$link: #5B9C78;
$linkHover: #67B088;
$navBar: #33475b;

$fontFamily: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;