@charset "UTF-8";
@import "imports";

/*
* Gumby Framework Version 2.0
* ---------------------------
* Follow @gumbycss on twitter and spread the love.
* We worked super hard on making this awesome and released it to the web.
* All we ask is you leave this intact. #gumbyisawesome
*
* http://www.gumbyframework.com/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

ol, ul { list-style: none; }

h2 {
  font-family: $fontFamily;
  font-weight: 300;  
}

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

* html { font-size: 81.25%; }

html { font-size: 15px; line-height: 2em;    }

html * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { 
  background: white; 
  font-family: $fontFamily; 
  font-weight: 500; color: #555555; position: relative;  }

@media only screen and (max-width: 767px) { 
  body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; } }

.ie9 { font-family: $fontFamily; }
.ie9 * { font-family: $fontFamily; }

.hide { display: none; }

.hide.active, .show { display: block;  }

.fixed { position: fixed; }
@media only screen and (max-width: 768px) { .fixed { position: relative !important; } }

/* Fonts */
@font-face { font-family: "entypo"; font-style: normal; font-weight: 400; src: url(../fonts/icons/entypo.eot); src: url("../fonts/icons/entypo.eot?#iefix") format("ie9-skip-eot"), url("../fonts/icons/entypo.woff") format("woff"), url("../fonts/icons/entypo.ttf") format("truetype"); }

/*=================================================

  +++ LE GRID +++
  A Responsive Grid -- Gumby defaults to a standard 960 grid,
  but you can change it to whatever you'd like.
 ==================================================*/
/*.container { padding: 0px $gutter-in-px;
}*/
.row { width: 100%; max-width: 940px; min-width: 320px; margin: 0 auto; }
@media only screen and (max-width: 960px) { .row { padding: 0 20px; } }
.row .row { min-width: 0px; }
@media only screen and (max-width: 960px) { .row .row { padding: 0; } }

/* To fix the grid into a different size, set max-width to your desired width */
.column, .columns { margin-left: 2.12766%; float: left; min-height: 1px; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.column:first-child, .columns:first-child, .alpha { margin-left: 0px; }

.column.omega, .columns.omega { float: right; }

/* Column Classes */
.row .one.column, .row .one.columns, .sixteen.colgrid .row .one.columns { width: 6.38298%; }
.row .two.columns { width: 14.89362%; }
.row .three.columns { width: 23.40426%; }
.row .four.columns { width: 31.91489%; }
.row .five.columns { width: 40.42553%; }
.row .six.columns { width: 48.93617%; }
.row .seven.columns { width: 57.44681%; }
.row .eight.columns { width: 65.95745%; }
.row .nine.columns { width: 74.46809%; }
.row .ten.columns { width: 82.97872%; }
.row .eleven.columns { width: 91.48936%; }
.row .twelve.columns { width: 100%; }

/* Push Classes */
.row .push_one { margin-left: 10.6383%; }
.row .push_one:first-child { margin-left: 8.51064%; }
.row .push_two { margin-left: 19.14894%; }
.row .push_two:first-child { margin-left: 17.02128%; }
.row .push_three { margin-left: 27.65957%; }
.row .push_three:first-child { margin-left: 25.53191%; }
.row .push_four { margin-left: 36.17021%; }
.row .push_four:first-child { margin-left: 34.04255%; }
.row .push_five { margin-left: 44.68085%; }
.row .push_five:first-child { margin-left: 42.55319%; }
.row .push_six { margin-left: 53.19149%; }
.row .push_six:first-child { margin-left: 51.06383%; }
.row .push_seven { margin-left: 61.70213%; }
.row .push_seven:first-child { margin-left: 59.57447%; }
.row .push_eight { margin-left: 70.21277%; }
.row .push_eight:first-child { margin-left: 68.08511%; }
.row .push_nine { margin-left: 78.7234%; }
.row .push_nine:first-child { margin-left: 76.59574%; }
.row .push_ten { margin-left: 87.23404%; }
.row .push_ten:first-child { margin-left: 85.10638%; }
.row .push_eleven { margin-left: 95.74468%; }
.row .push_eleven:first-child { margin-left: 93.61702%; }

/* Centered Classes */
.row .one.centered { margin-left: 46.80851%; }
.row .two.centered { margin-left: 42.55319%; }
.row .three.centered { margin-left: 38.29787%; }
.row .four.centered { margin-left: 34.04255%; }
.row .five.centered { margin-left: 29.78723%; }
.row .six.centered { margin-left: 25.53191%; }
.row .seven.centered { margin-left: 21.2766%; }
.row .eight.centered { margin-left: 17.02128%; }
.row .nine.centered { margin-left: 12.76596%; }
.row .ten.centered { margin-left: 8.51064%; }
.row .eleven.centered { margin-left: 4.25532%; }

/* Hybrid Grid Columns */
.sixteen.colgrid .row .one.column, .sixteen.colgrid .row .one.columns { width: 4.25532%; }
.sixteen.colgrid .row .two.columns { width: 10.6383%; }
.sixteen.colgrid .row .three.columns { width: 17.02128%; }
.sixteen.colgrid .row .four.columns { width: 23.40426%; }
.sixteen.colgrid .row .five.columns { width: 29.78723%; }
.sixteen.colgrid .row .six.columns { width: 36.17021%; }
.sixteen.colgrid .row .seven.columns { width: 42.55319%; }
.sixteen.colgrid .row .eight.columns { width: 48.93617%; }
.sixteen.colgrid .row .nine.columns { width: 55.31915%; }
.sixteen.colgrid .row .ten.columns { width: 61.70213%; }
.sixteen.colgrid .row .eleven.columns { width: 68.08511%; }
.sixteen.colgrid .row .twelve.columns { width: 74.46809%; }
.sixteen.colgrid .row .thirteen.columns { width: 80.85106%; }
.sixteen.colgrid .row .fourteen.columns { width: 87.23404%; }
.sixteen.colgrid .row .fifteen.columns { width: 93.61702%; }
.sixteen.colgrid .row .sixteen.columns { width: 100%; }

/* Hybrid Push Classes */
.sixteen.colgrid .row .push_one { margin-left: 8.51064%; }
.sixteen.colgrid .row .push_one:first-child { margin-left: 6.38298%; }
.sixteen.colgrid .row .push_two { margin-left: 14.89362%; }
.sixteen.colgrid .row .push_two:first-child { margin-left: 12.76596%; }
.sixteen.colgrid .row .push_three { margin-left: 21.2766%; }
.sixteen.colgrid .row .push_three:first-child { margin-left: 19.14894%; }
.sixteen.colgrid .row .push_four { margin-left: 27.65957%; }
.sixteen.colgrid .row .push_four:first-child { margin-left: 25.53191%; }
.sixteen.colgrid .row .push_five { margin-left: 34.04255%; }
.sixteen.colgrid .row .push_five:first-child { margin-left: 31.91489%; }
.sixteen.colgrid .row .push_six { margin-left: 40.42553%; }
.sixteen.colgrid .row .push_six:first-child { margin-left: 38.29787%; }
.sixteen.colgrid .row .push_seven { margin-left: 46.80851%; }
.sixteen.colgrid .row .push_seven:first-child { margin-left: 44.68085%; }
.sixteen.colgrid .row .push_eight { margin-left: 53.19149%; }
.sixteen.colgrid .row .push_eight:first-child { margin-left: 51.06383%; }
.sixteen.colgrid .row .push_nine { margin-left: 59.57447%; }
.sixteen.colgrid .row .push_nine:first-child { margin-left: 57.44681%; }
.sixteen.colgrid .row .push_ten { margin-left: 65.95745%; }
.sixteen.colgrid .row .push_ten:first-child { margin-left: 63.82979%; }
.sixteen.colgrid .row .push_eleven { margin-left: 72.34043%; }
.sixteen.colgrid .row .push_eleven:first-child { margin-left: 70.21277%; }
.sixteen.colgrid .row .push_twelve { margin-left: 78.7234%; }
.sixteen.colgrid .row .push_twelve:first-child { margin-left: 76.59574%; }
.sixteen.colgrid .row .push_thirteen { margin-left: 85.10638%; }
.sixteen.colgrid .row .push_thirteen:first-child { margin-left: 82.97872%; }
.sixteen.colgrid .row .push_fourteen { margin-left: 91.48936%; }
.sixteen.colgrid .row .push_fourteen:first-child { margin-left: 89.3617%; }
.sixteen.colgrid .row .push_fifteen { margin-left: 97.87234%; }
.sixteen.colgrid .row .push_fifteen:first-child { margin-left: 95.74468%; }

/* Hybrid Centered Classes */
.sixteen.colgrid .row .one.centered { margin-left: 47.87234%; }
.sixteen.colgrid .row .two.centered { margin-left: 44.68085%; }
.sixteen.colgrid .row .three.centered { margin-left: 41.48936%; }
.sixteen.colgrid .row .four.centered { margin-left: 38.29787%; }
.sixteen.colgrid .row .five.centered { margin-left: 35.10638%; }
.sixteen.colgrid .row .six.centered { margin-left: 31.91489%; }
.sixteen.colgrid .row .seven.centered { margin-left: 28.7234%; }
.sixteen.colgrid .row .eight.centered { margin-left: 25.53191%; }
.sixteen.colgrid .row .nine.centered { margin-left: 22.34043%; }
.sixteen.colgrid .row .ten.centered { margin-left: 19.14894%; }
.sixteen.colgrid .row .eleven.centered { margin-left: 15.95745%; }
.sixteen.colgrid .row .twelve.centered { margin-left: 12.76596%; }
.sixteen.colgrid .row .thirteen.centered { margin-left: 9.57447%; }
.sixteen.colgrid .row .fourteen.centered { margin-left: 6.38298%; }
.sixteen.colgrid .row .fifteen.centered { margin-left: 3.19149%; }

.pull_right { float: right; }

.pull_left { float: left; }

img, object, embed { max-width: 100%; height: auto; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img { max-width: none !important; }

/* Tile Grid */
.tiles { display: block; overflow: hidden; }
.tiles > li { display: block; height: auto; float: left; padding-bottom: 0; }
.tiles.two_up { margin-left: -4%; }
.tiles.two_up > li { margin-left: 4%; width: 46%; }
.tiles.three_up, .tiles.four_up { margin-left: -2%; }
.tiles.three_up > li { margin-left: 2%; width: 31.3%; }
.tiles.four_up > li { margin-left: 2%; width: 23%; }
.tiles.five_up { margin-left: -1.5%; }
.tiles.five_up > li { margin-left: 1.5%; width: 18.5%; }

/* Nicolas Gallagher's micro clearfix */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.row { *zoom: 1; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }

.valign { display: table; width: 100%; }
.valign > div { display: table-cell; vertical-align: middle; }
.valign ​ > article { display: table-cell; vertical-align: middle; }

/* Mobile */
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; }
  .container { min-width: 0; margin-left: 0; margin-right: 0; }
  .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
  .row .row .column, .row .row .columns { padding: 0; }
  .row .centered { margin: 0 !important; }
  .column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
  .column:last-child, .columns:last-child { margin-right: 0; float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  [class*="column"]:before { display: table; }
  [class*="column"]:after { display: table; clear: both; }
  [class^="push_"], [class*="push_"] { margin-left: 0 !important; } }
/* Icons */
[class^="icon-"] a:before, [class*=" icon-"] a:before, [class^="icon-"] a:after, [class*=" icon-"] a:after, i[class^="icon-"], i[class*=" icon-"] { font-family: "entypo"; position: absolute; text-decoration: none; zoom: 1; }

i[class^="icon-"], i[class*=" icon-"] { display: inline-block; position: static; min-width: 20px; margin: 0 5px; text-align: center; }

.icon-note.icon-left a:before, .icon-note.icon-right a:after { content: "\266a"; height: inherit; }

i.icon-note:before { content: "\266a"; height: inherit; }

.icon-note-beamed.icon-left a:before, .icon-note-beamed.icon-right a:after { content: "\266b"; height: inherit; }

i.icon-note-beamed:before { content: "\266b"; height: inherit; }

.icon-music.icon-left a:before, .icon-music.icon-right a:after { content: "🎵"; height: inherit; }

i.icon-music:before { content: "🎵"; height: inherit; }

.icon-search.icon-left a:before, .icon-search.icon-right a:after { content: "🔍"; height: inherit; }

i.icon-search:before { content: "🔍"; height: inherit; }

.icon-flashlight.icon-left a:before, .icon-flashlight.icon-right a:after { content: "🔦"; height: inherit; }

i.icon-flashlight:before { content: "🔦"; height: inherit; }

.icon-mail.icon-left a:before, .icon-mail.icon-right a:after { content: "\2709"; height: inherit; }

i.icon-mail:before { content: "\2709"; height: inherit; }

.icon-heart.icon-left a:before, .icon-heart.icon-right a:after { content: "\2665"; height: inherit; }

i.icon-heart:before { content: "\2665"; height: inherit; }

.icon-heart-empty.icon-left a:before, .icon-heart-empty.icon-right a:after { content: "\2661"; height: inherit; }

i.icon-heart-empty:before { content: "\2661"; height: inherit; }

.icon-star.icon-left a:before, .icon-star.icon-right a:after { content: "\2605"; height: inherit; }

i.icon-star:before { content: "\2605"; height: inherit; }

.icon-star-empty.icon-left a:before, .icon-star-empty.icon-right a:after { content: "\2606"; height: inherit; }

i.icon-star-empty:before { content: "\2606"; height: inherit; }

.icon-user.icon-left a:before, .icon-user.icon-right a:after { content: "👤"; height: inherit; }

i.icon-user:before { content: "👤"; height: inherit; }

.icon-users.icon-left a:before, .icon-users.icon-right a:after { content: "👥"; height: inherit; }

i.icon-users:before { content: "👥"; height: inherit; }

.icon-user-add.icon-left a:before, .icon-user-add.icon-right a:after { content: "\e700"; height: inherit; }

i.icon-user-add:before { content: "\e700"; height: inherit; }

.icon-video.icon-left a:before, .icon-video.icon-right a:after { content: "🎬"; height: inherit; }

i.icon-video:before { content: "🎬"; height: inherit; }

.icon-picture.icon-left a:before, .icon-picture.icon-right a:after { content: "🌄"; height: inherit; }

i.icon-picture:before { content: "🌄"; height: inherit; }

.icon-camera.icon-left a:before, .icon-camera.icon-right a:after { content: "📷"; height: inherit; }

i.icon-camera:before { content: "📷"; height: inherit; }

.icon-layout.icon-left a:before, .icon-layout.icon-right a:after { content: "\268f"; height: inherit; }

i.icon-layout:before { content: "\268f"; height: inherit; }

.icon-menu.icon-left a:before, .icon-menu.icon-right a:after { content: "\2630"; height: inherit; }

i.icon-menu:before { content: "\2630"; height: inherit; }

.icon-check.icon-left a:before, .icon-check.icon-right a:after { content: "\2713"; height: inherit; }

i.icon-check:before { content: "\2713"; height: inherit; }

.icon-cancel.icon-left a:before, .icon-cancel.icon-right a:after { content: "\2715"; height: inherit; }

i.icon-cancel:before { content: "\2715"; height: inherit; }

.icon-cancel-circled.icon-left a:before, .icon-cancel-circled.icon-right a:after { content: "\2716"; height: inherit; }

i.icon-cancel-circled:before { content: "\2716"; height: inherit; }

.icon-cancel-squared.icon-left a:before, .icon-cancel-squared.icon-right a:after { content: "\274e"; height: inherit; }

i.icon-cancel-squared:before { content: "\274e"; height: inherit; }

.icon-plus.icon-left a:before, .icon-plus.icon-right a:after { content: "\2b"; height: inherit; }

i.icon-plus:before { content: "\2b"; height: inherit; }

.icon-plus-circled.icon-left a:before, .icon-plus-circled.icon-right a:after { content: "\2795"; height: inherit; }

i.icon-plus-circled:before { content: "\2795"; height: inherit; }

.icon-plus-squared.icon-left a:before, .icon-plus-squared.icon-right a:after { content: "\229e"; height: inherit; }

i.icon-plus-squared:before { content: "\229e"; height: inherit; }

.icon-minus.icon-left a:before, .icon-minus.icon-right a:after { content: "\2d"; height: inherit; }

i.icon-minus:before { content: "\2d"; height: inherit; }

.icon-minus-circled.icon-left a:before, .icon-minus-circled.icon-right a:after { content: "\2796"; height: inherit; }

i.icon-minus-circled:before { content: "\2796"; height: inherit; }

.icon-minus-squared.icon-left a:before, .icon-minus-squared.icon-right a:after { content: "\229f"; height: inherit; }

i.icon-minus-squared:before { content: "\229f"; height: inherit; }

.icon-help.icon-left a:before, .icon-help.icon-right a:after { content: "\2753"; height: inherit; }

i.icon-help:before { content: "\2753"; height: inherit; }

.icon-help-circled.icon-left a:before, .icon-help-circled.icon-right a:after { content: "\e704"; height: inherit; }

i.icon-help-circled:before { content: "\e704"; height: inherit; }

.icon-info.icon-left a:before, .icon-info.icon-right a:after { content: "\2139"; height: inherit; }

i.icon-info:before { content: "\2139"; height: inherit; }

.icon-info-circled.icon-left a:before, .icon-info-circled.icon-right a:after { content: "\e705"; height: inherit; }

i.icon-info-circled:before { content: "\e705"; height: inherit; }

.icon-back.icon-left a:before, .icon-back.icon-right a:after { content: "🔙"; height: inherit; }

i.icon-back:before { content: "🔙"; height: inherit; }

.icon-home.icon-left a:before, .icon-home.icon-right a:after { content: "\2302"; height: inherit; }

i.icon-home:before { content: "\2302"; height: inherit; }

.icon-link.icon-left a:before, .icon-link.icon-right a:after { content: "🔗"; height: inherit; }

i.icon-link:before { content: "🔗"; height: inherit; }

.icon-attach.icon-left a:before, .icon-attach.icon-right a:after { content: "📎"; height: inherit; }

i.icon-attach:before { content: "📎"; height: inherit; }

.icon-lock.icon-left a:before, .icon-lock.icon-right a:after { content: "🔒"; height: inherit; }

i.icon-lock:before { content: "🔒"; height: inherit; }

.icon-lock-open.icon-left a:before, .icon-lock-open.icon-right a:after { content: "🔓"; height: inherit; }

i.icon-lock-open:before { content: "🔓"; height: inherit; }

.icon-eye.icon-left a:before, .icon-eye.icon-right a:after { content: "\e70a"; height: inherit; }

i.icon-eye:before { content: "\e70a"; height: inherit; }

.icon-tag.icon-left a:before, .icon-tag.icon-right a:after { content: "\e70c"; height: inherit; }

i.icon-tag:before { content: "\e70c"; height: inherit; }

.icon-bookmark.icon-left a:before, .icon-bookmark.icon-right a:after { content: "🔖"; height: inherit; }

i.icon-bookmark:before { content: "🔖"; height: inherit; }

.icon-bookmarks.icon-left a:before, .icon-bookmarks.icon-right a:after { content: "📑"; height: inherit; }

i.icon-bookmarks:before { content: "📑"; height: inherit; }

.icon-flag.icon-left a:before, .icon-flag.icon-right a:after { content: "\2691"; height: inherit; }

i.icon-flag:before { content: "\2691"; height: inherit; }

.icon-thumbs-up.icon-left a:before, .icon-thumbs-up.icon-right a:after { content: "👍"; height: inherit; }

i.icon-thumbs-up:before { content: "👍"; height: inherit; }

.icon-thumbs-down.icon-left a:before, .icon-thumbs-down.icon-right a:after { content: "👎"; height: inherit; }

i.icon-thumbs-down:before { content: "👎"; height: inherit; }

.icon-download.icon-left a:before, .icon-download.icon-right a:after { content: "📥"; height: inherit; }

i.icon-download:before { content: "📥"; height: inherit; }

.icon-upload.icon-left a:before, .icon-upload.icon-right a:after { content: "📤"; height: inherit; }

i.icon-upload:before { content: "📤"; height: inherit; }

.icon-upload-cloud.icon-left a:before, .icon-upload-cloud.icon-right a:after { content: "\e711"; height: inherit; }

i.icon-upload-cloud:before { content: "\e711"; height: inherit; }

.icon-reply.icon-left a:before, .icon-reply.icon-right a:after { content: "\e712"; height: inherit; }

i.icon-reply:before { content: "\e712"; height: inherit; }

.icon-reply-all.icon-left a:before, .icon-reply-all.icon-right a:after { content: "\e713"; height: inherit; }

i.icon-reply-all:before { content: "\e713"; height: inherit; }

.icon-forward.icon-left a:before, .icon-forward.icon-right a:after { content: "\27a6"; height: inherit; }

i.icon-forward:before { content: "\27a6"; height: inherit; }

.icon-quote.icon-left a:before, .icon-quote.icon-right a:after { content: "\275e"; height: inherit; }

i.icon-quote:before { content: "\275e"; height: inherit; }

.icon-code.icon-left a:before, .icon-code.icon-right a:after { content: "\e714"; height: inherit; }

i.icon-code:before { content: "\e714"; height: inherit; }

.icon-export.icon-left a:before, .icon-export.icon-right a:after { content: "\e715"; height: inherit; }

i.icon-export:before { content: "\e715"; height: inherit; }

.icon-pencil.icon-left a:before, .icon-pencil.icon-right a:after { content: "\270e"; height: inherit; }

i.icon-pencil:before { content: "\270e"; height: inherit; }

.icon-feather.icon-left a:before, .icon-feather.icon-right a:after { content: "\2712"; height: inherit; }

i.icon-feather:before { content: "\2712"; height: inherit; }

.icon-print.icon-left a:before, .icon-print.icon-right a:after { content: "\e716"; height: inherit; }

i.icon-print:before { content: "\e716"; height: inherit; }

.icon-retweet.icon-left a:before, .icon-retweet.icon-right a:after { content: "\e717"; height: inherit; }

i.icon-retweet:before { content: "\e717"; height: inherit; }

.icon-keyboard.icon-left a:before, .icon-keyboard.icon-right a:after { content: "\2328"; height: inherit; }

i.icon-keyboard:before { content: "\2328"; height: inherit; }

.icon-comment.icon-left a:before, .icon-comment.icon-right a:after { content: "\e718"; height: inherit; }

i.icon-comment:before { content: "\e718"; height: inherit; }

.icon-chat.icon-left a:before, .icon-chat.icon-right a:after { content: "\e720"; height: inherit; }

i.icon-chat:before { content: "\e720"; height: inherit; }

.icon-bell.icon-left a:before, .icon-bell.icon-right a:after { content: "🔔"; height: inherit; }

i.icon-bell:before { content: "🔔"; height: inherit; }

.icon-attention.icon-left a:before, .icon-attention.icon-right a:after { content: "\26a0"; height: inherit; }

i.icon-attention:before { content: "\26a0"; height: inherit; }

.icon-alert.icon-left a:before, .icon-alert.icon-right a:after { content: "💥"; height: inherit; }

i.icon-alert:before { content: "💥"; height: inherit; }

.icon-vcard.icon-left a:before, .icon-vcard.icon-right a:after { content: "\e722"; height: inherit; }

i.icon-vcard:before { content: "\e722"; height: inherit; }

.icon-address.icon-left a:before, .icon-address.icon-right a:after { content: "\e723"; height: inherit; }

i.icon-address:before { content: "\e723"; height: inherit; }

.icon-location.icon-left a:before, .icon-location.icon-right a:after { content: "\e724"; height: inherit; }

i.icon-location:before { content: "\e724"; height: inherit; }

.icon-map.icon-left a:before, .icon-map.icon-right a:after { content: "\e727"; height: inherit; }

i.icon-map:before { content: "\e727"; height: inherit; }

.icon-direction.icon-left a:before, .icon-direction.icon-right a:after { content: "\27a2"; height: inherit; }

i.icon-direction:before { content: "\27a2"; height: inherit; }

.icon-compass.icon-left a:before, .icon-compass.icon-right a:after { content: "\e728"; height: inherit; }

i.icon-compass:before { content: "\e728"; height: inherit; }

.icon-cup.icon-left a:before, .icon-cup.icon-right a:after { content: "\2615"; height: inherit; }

i.icon-cup:before { content: "\2615"; height: inherit; }

.icon-trash.icon-left a:before, .icon-trash.icon-right a:after { content: "\e729"; height: inherit; }

i.icon-trash:before { content: "\e729"; height: inherit; }

.icon-doc.icon-left a:before, .icon-doc.icon-right a:after { content: "\e730"; height: inherit; }

i.icon-doc:before { content: "\e730"; height: inherit; }

.icon-docs.icon-left a:before, .icon-docs.icon-right a:after { content: "\e736"; height: inherit; }

i.icon-docs:before { content: "\e736"; height: inherit; }

.icon-doc-landscape.icon-left a:before, .icon-doc-landscape.icon-right a:after { content: "\e737"; height: inherit; }

i.icon-doc-landscape:before { content: "\e737"; height: inherit; }

.icon-doc-text.icon-left a:before, .icon-doc-text.icon-right a:after { content: "📄"; height: inherit; }

i.icon-doc-text:before { content: "📄"; height: inherit; }

.icon-doc-text-inv.icon-left a:before, .icon-doc-text-inv.icon-right a:after { content: "\e731"; height: inherit; }

i.icon-doc-text-inv:before { content: "\e731"; height: inherit; }

.icon-newspaper.icon-left a:before, .icon-newspaper.icon-right a:after { content: "📰"; height: inherit; }

i.icon-newspaper:before { content: "📰"; height: inherit; }

.icon-book-open.icon-left a:before, .icon-book-open.icon-right a:after { content: "📖"; height: inherit; }

i.icon-book-open:before { content: "📖"; height: inherit; }

.icon-book.icon-left a:before, .icon-book.icon-right a:after { content: "📕"; height: inherit; }

i.icon-book:before { content: "📕"; height: inherit; }

.icon-folder.icon-left a:before, .icon-folder.icon-right a:after { content: "📁"; height: inherit; }

i.icon-folder:before { content: "📁"; height: inherit; }

.icon-archive.icon-left a:before, .icon-archive.icon-right a:after { content: "\e738"; height: inherit; }

i.icon-archive:before { content: "\e738"; height: inherit; }

.icon-box.icon-left a:before, .icon-box.icon-right a:after { content: "📦"; height: inherit; }

i.icon-box:before { content: "📦"; height: inherit; }

.icon-rss.icon-left a:before, .icon-rss.icon-right a:after { content: "\e73a"; height: inherit; }

i.icon-rss:before { content: "\e73a"; height: inherit; }

.icon-phone.icon-left a:before, .icon-phone.icon-right a:after { content: "📞"; height: inherit; }

i.icon-phone:before { content: "📞"; height: inherit; }

.icon-cog.icon-left a:before, .icon-cog.icon-right a:after { content: "\2699"; height: inherit; }

i.icon-cog:before { content: "\2699"; height: inherit; }

.icon-tools.icon-left a:before, .icon-tools.icon-right a:after { content: "\2692"; height: inherit; }

i.icon-tools:before { content: "\2692"; height: inherit; }

.icon-share.icon-left a:before, .icon-share.icon-right a:after { content: "\e73c"; height: inherit; }

i.icon-share:before { content: "\e73c"; height: inherit; }

.icon-shareable.icon-left a:before, .icon-shareable.icon-right a:after { content: "\e73e"; height: inherit; }

i.icon-shareable:before { content: "\e73e"; height: inherit; }

.icon-basket.icon-left a:before, .icon-basket.icon-right a:after { content: "\e73d"; height: inherit; }

i.icon-basket:before { content: "\e73d"; height: inherit; }

.icon-bag.icon-left a:before, .icon-bag.icon-right a:after { content: "👜"; height: inherit; }

i.icon-bag:before { content: "👜"; height: inherit; }

.icon-calendar.icon-left a:before, .icon-calendar.icon-right a:after { content: "📅"; height: inherit; }

i.icon-calendar:before { content: "📅"; height: inherit; }

.icon-login.icon-left a:before, .icon-login.icon-right a:after { content: "\e740"; height: inherit; }

i.icon-login:before { content: "\e740"; height: inherit; }

.icon-logout.icon-left a:before, .icon-logout.icon-right a:after { content: "\e741"; height: inherit; }

i.icon-logout:before { content: "\e741"; height: inherit; }

.icon-mic.icon-left a:before, .icon-mic.icon-right a:after { content: "🎤"; height: inherit; }

i.icon-mic:before { content: "🎤"; height: inherit; }

.icon-mute.icon-left a:before, .icon-mute.icon-right a:after { content: "🔇"; height: inherit; }

i.icon-mute:before { content: "🔇"; height: inherit; }

.icon-sound.icon-left a:before, .icon-sound.icon-right a:after { content: "🔊"; height: inherit; }

i.icon-sound:before { content: "🔊"; height: inherit; }

.icon-volume.icon-left a:before, .icon-volume.icon-right a:after { content: "\e742"; height: inherit; }

i.icon-volume:before { content: "\e742"; height: inherit; }

.icon-clock.icon-left a:before, .icon-clock.icon-right a:after { content: "🕔"; height: inherit; }

i.icon-clock:before { content: "🕔"; height: inherit; }

.icon-hourglass.icon-left a:before, .icon-hourglass.icon-right a:after { content: "\23f3"; height: inherit; }

i.icon-hourglass:before { content: "\23f3"; height: inherit; }

.icon-lamp.icon-left a:before, .icon-lamp.icon-right a:after { content: "💡"; height: inherit; }

i.icon-lamp:before { content: "💡"; height: inherit; }

.icon-light-down.icon-left a:before, .icon-light-down.icon-right a:after { content: "🔅"; height: inherit; }

i.icon-light-down:before { content: "🔅"; height: inherit; }

.icon-light-up.icon-left a:before, .icon-light-up.icon-right a:after { content: "🔆"; height: inherit; }

i.icon-light-up:before { content: "🔆"; height: inherit; }

.icon-adjust.icon-left a:before, .icon-adjust.icon-right a:after { content: "\25d1"; height: inherit; }

i.icon-adjust:before { content: "\25d1"; height: inherit; }

.icon-block.icon-left a:before, .icon-block.icon-right a:after { content: "🚫"; height: inherit; }

i.icon-block:before { content: "🚫"; height: inherit; }

.icon-resize-full.icon-left a:before, .icon-resize-full.icon-right a:after { content: "\e744"; height: inherit; }

i.icon-resize-full:before { content: "\e744"; height: inherit; }

.icon-resize-small.icon-left a:before, .icon-resize-small.icon-right a:after { content: "\e746"; height: inherit; }

i.icon-resize-small:before { content: "\e746"; height: inherit; }

.icon-popup.icon-left a:before, .icon-popup.icon-right a:after { content: "\e74c"; height: inherit; }

i.icon-popup:before { content: "\e74c"; height: inherit; }

.icon-publish.icon-left a:before, .icon-publish.icon-right a:after { content: "\e74d"; height: inherit; }

i.icon-publish:before { content: "\e74d"; height: inherit; }

.icon-window.icon-left a:before, .icon-window.icon-right a:after { content: "\e74e"; height: inherit; }

i.icon-window:before { content: "\e74e"; height: inherit; }

.icon-arrow-combo.icon-left a:before, .icon-arrow-combo.icon-right a:after { content: "\e74f"; height: inherit; }

i.icon-arrow-combo:before { content: "\e74f"; height: inherit; }

.icon-down-circled.icon-left a:before, .icon-down-circled.icon-right a:after { content: "\e758"; height: inherit; }

i.icon-down-circled:before { content: "\e758"; height: inherit; }

.icon-left-circled.icon-left a:before, .icon-left-circled.icon-right a:after { content: "\e759"; height: inherit; }

i.icon-left-circled:before { content: "\e759"; height: inherit; }

.icon-right-circled.icon-left a:before, .icon-right-circled.icon-right a:after { content: "\e75a"; height: inherit; }

i.icon-right-circled:before { content: "\e75a"; height: inherit; }

.icon-up-circled.icon-left a:before, .icon-up-circled.icon-right a:after { content: "\e75b"; height: inherit; }

i.icon-up-circled:before { content: "\e75b"; height: inherit; }

.icon-down-open.icon-left a:before, .icon-down-open.icon-right a:after { content: "\e75c"; height: inherit; }

i.icon-down-open:before { content: "\e75c"; height: inherit; }

.icon-left-open.icon-left a:before, .icon-left-open.icon-right a:after { content: "\e75d"; height: inherit; }

i.icon-left-open:before { content: "\e75d"; height: inherit; }

.icon-right-open.icon-left a:before, .icon-right-open.icon-right a:after { content: "\e75e"; height: inherit; }

i.icon-right-open:before { content: "\e75e"; height: inherit; }

.icon-up-open.icon-left a:before, .icon-up-open.icon-right a:after { content: "\e75f"; height: inherit; }

i.icon-up-open:before { content: "\e75f"; height: inherit; }

.icon-down-open-mini.icon-left a:before, .icon-down-open-mini.icon-right a:after { content: "\e760"; height: inherit; }

i.icon-down-open-mini:before { content: "\e760"; height: inherit; }

.icon-left-open-mini.icon-left a:before, .icon-left-open-mini.icon-right a:after { content: "\e761"; height: inherit; }

i.icon-left-open-mini:before { content: "\e761"; height: inherit; }

.icon-right-open-mini.icon-left a:before, .icon-right-open-mini.icon-right a:after { content: "\e762"; height: inherit; }

i.icon-right-open-mini:before { content: "\e762"; height: inherit; }

.icon-up-open-mini.icon-left a:before, .icon-up-open-mini.icon-right a:after { content: "\e763"; height: inherit; }

i.icon-up-open-mini:before { content: "\e763"; height: inherit; }

.icon-down-open-big.icon-left a:before, .icon-down-open-big.icon-right a:after { content: "\e764"; height: inherit; }

i.icon-down-open-big:before { content: "\e764"; height: inherit; }

.icon-left-open-big.icon-left a:before, .icon-left-open-big.icon-right a:after { content: "\e765"; height: inherit; }

i.icon-left-open-big:before { content: "\e765"; height: inherit; }

.icon-right-open-big.icon-left a:before, .icon-right-open-big.icon-right a:after { content: "\e766"; height: inherit; }

i.icon-right-open-big:before { content: "\e766"; height: inherit; }

.icon-up-open-big.icon-left a:before, .icon-up-open-big.icon-right a:after { content: "\e767"; height: inherit; }

i.icon-up-open-big:before { content: "\e767"; height: inherit; }

.icon-down.icon-left a:before, .icon-down.icon-right a:after { content: "\2b07"; height: inherit; }

i.icon-down:before { content: "\2b07"; height: inherit; }

.icon-arrow-left.icon-left a:before, .icon-arrow-left.icon-right a:after { content: "\2b05"; height: inherit; }

i.icon-arrow-left:before { content: "\2b05"; height: inherit; }

.icon-arrow-right.icon-left a:before, .icon-arrow-right.icon-right a:after { content: "\27a1"; height: inherit; }

i.icon-arrow-right:before { content: "\27a1"; height: inherit; }

.icon-up.icon-left a:before, .icon-up.icon-right a:after { content: "\2b06"; height: inherit; }

i.icon-up:before { content: "\2b06"; height: inherit; }

.icon-down-dir.icon-left a:before, .icon-down-dir.icon-right a:after { content: "\25be"; height: inherit; }

i.icon-down-dir:before { content: "\25be"; height: inherit; }

.icon-left-dir.icon-left a:before, .icon-left-dir.icon-right a:after { content: "\25c2"; height: inherit; }

i.icon-left-dir:before { content: "\25c2"; height: inherit; }

.icon-right-dir.icon-left a:before, .icon-right-dir.icon-right a:after { content: "\25b8"; height: inherit; }

i.icon-right-dir:before { content: "\25b8"; height: inherit; }

.icon-up-dir.icon-left a:before, .icon-up-dir.icon-right a:after { content: "\25b4"; height: inherit; }

i.icon-up-dir:before { content: "\25b4"; height: inherit; }

.icon-down-bold.icon-left a:before, .icon-down-bold.icon-right a:after { content: "\e4b0"; height: inherit; }

i.icon-down-bold:before { content: "\e4b0"; height: inherit; }

.icon-left-bold.icon-left a:before, .icon-left-bold.icon-right a:after { content: "\e4ad"; height: inherit; }

i.icon-left-bold:before { content: "\e4ad"; height: inherit; }

.icon-right-bold.icon-left a:before, .icon-right-bold.icon-right a:after { content: "\e4ae"; height: inherit; }

i.icon-right-bold:before { content: "\e4ae"; height: inherit; }

.icon-up-bold.icon-left a:before, .icon-up-bold.icon-right a:after { content: "\e4af"; height: inherit; }

i.icon-up-bold:before { content: "\e4af"; height: inherit; }

.icon-down-thin.icon-left a:before, .icon-down-thin.icon-right a:after { content: "\2193"; height: inherit; }

i.icon-down-thin:before { content: "\2193"; height: inherit; }

.icon-left-thin.icon-left a:before, .icon-left-thin.icon-right a:after { content: "\2190"; height: inherit; }

i.icon-left-thin:before { content: "\2190"; height: inherit; }

.icon-right-thin.icon-left a:before, .icon-right-thin.icon-right a:after { content: "\2192"; height: inherit; }

i.icon-right-thin:before { content: "\2192"; height: inherit; }

.icon-up-thin.icon-left a:before, .icon-up-thin.icon-right a:after { content: "\2191"; height: inherit; }

i.icon-up-thin:before { content: "\2191"; height: inherit; }

.icon-ccw.icon-left a:before, .icon-ccw.icon-right a:after { content: "\27f2"; height: inherit; }

i.icon-ccw:before { content: "\27f2"; height: inherit; }

.icon-cw.icon-left a:before, .icon-cw.icon-right a:after { content: "\27f3"; height: inherit; }

i.icon-cw:before { content: "\27f3"; height: inherit; }

.icon-arrows-ccw.icon-left a:before, .icon-arrows-ccw.icon-right a:after { content: "🔄"; height: inherit; }

i.icon-arrows-ccw:before { content: "🔄"; height: inherit; }

.icon-level-down.icon-left a:before, .icon-level-down.icon-right a:after { content: "\21b3"; height: inherit; }

i.icon-level-down:before { content: "\21b3"; height: inherit; }

.icon-level-up.icon-left a:before, .icon-level-up.icon-right a:after { content: "\21b0"; height: inherit; }

i.icon-level-up:before { content: "\21b0"; height: inherit; }

.icon-shuffle.icon-left a:before, .icon-shuffle.icon-right a:after { content: "🔀"; height: inherit; }

i.icon-shuffle:before { content: "🔀"; height: inherit; }

.icon-loop.icon-left a:before, .icon-loop.icon-right a:after { content: "🔁"; height: inherit; }

i.icon-loop:before { content: "🔁"; height: inherit; }

.icon-switch.icon-left a:before, .icon-switch.icon-right a:after { content: "\21c6"; height: inherit; }

i.icon-switch:before { content: "\21c6"; height: inherit; }

.icon-play.icon-left a:before, .icon-play.icon-right a:after { content: "\25b6"; height: inherit; }

i.icon-play:before { content: "\25b6"; height: inherit; }

.icon-stop.icon-left a:before, .icon-stop.icon-right a:after { content: "\25a0"; height: inherit; }

i.icon-stop:before { content: "\25a0"; height: inherit; }

.icon-pause.icon-left a:before, .icon-pause.icon-right a:after { content: "\2389"; height: inherit; }

i.icon-pause:before { content: "\2389"; height: inherit; }

.icon-record.icon-left a:before, .icon-record.icon-right a:after { content: "\26ab"; height: inherit; }

i.icon-record:before { content: "\26ab"; height: inherit; }

.icon-to-end.icon-left a:before, .icon-to-end.icon-right a:after { content: "\23ed"; height: inherit; }

i.icon-to-end:before { content: "\23ed"; height: inherit; }

.icon-to-start.icon-left a:before, .icon-to-start.icon-right a:after { content: "\23ee"; height: inherit; }

i.icon-to-start:before { content: "\23ee"; height: inherit; }

.icon-fast-forward.icon-left a:before, .icon-fast-forward.icon-right a:after { content: "\23e9"; height: inherit; }

i.icon-fast-forward:before { content: "\23e9"; height: inherit; }

.icon-fast-backward.icon-left a:before, .icon-fast-backward.icon-right a:after { content: "\23ea"; height: inherit; }

i.icon-fast-backward:before { content: "\23ea"; height: inherit; }

.icon-progress-0.icon-left a:before, .icon-progress-0.icon-right a:after { content: "\e768"; height: inherit; }

i.icon-progress-0:before { content: "\e768"; height: inherit; }

.icon-progress-1.icon-left a:before, .icon-progress-1.icon-right a:after { content: "\e769"; height: inherit; }

i.icon-progress-1:before { content: "\e769"; height: inherit; }

.icon-progress-2.icon-left a:before, .icon-progress-2.icon-right a:after { content: "\e76a"; height: inherit; }

i.icon-progress-2:before { content: "\e76a"; height: inherit; }

.icon-progress-3.icon-left a:before, .icon-progress-3.icon-right a:after { content: "\e76b"; height: inherit; }

i.icon-progress-3:before { content: "\e76b"; height: inherit; }

.icon-target.icon-left a:before, .icon-target.icon-right a:after { content: "🎯"; height: inherit; }

i.icon-target:before { content: "🎯"; height: inherit; }

.icon-palette.icon-left a:before, .icon-palette.icon-right a:after { content: "🎨"; height: inherit; }

i.icon-palette:before { content: "🎨"; height: inherit; }

.icon-list.icon-left a:before, .icon-list.icon-right a:after { content: "\e005"; height: inherit; }

i.icon-list:before { content: "\e005"; height: inherit; }

.icon-list-add.icon-left a:before, .icon-list-add.icon-right a:after { content: "\e003"; height: inherit; }

i.icon-list-add:before { content: "\e003"; height: inherit; }

.icon-signal.icon-left a:before, .icon-signal.icon-right a:after { content: "📶"; height: inherit; }

i.icon-signal:before { content: "📶"; height: inherit; }

.icon-trophy.icon-left a:before, .icon-trophy.icon-right a:after { content: "🏆"; height: inherit; }

i.icon-trophy:before { content: "🏆"; height: inherit; }

.icon-battery.icon-left a:before, .icon-battery.icon-right a:after { content: "🔋"; height: inherit; }

i.icon-battery:before { content: "🔋"; height: inherit; }

.icon-back-in-time.icon-left a:before, .icon-back-in-time.icon-right a:after { content: "\e771"; height: inherit; }

i.icon-back-in-time:before { content: "\e771"; height: inherit; }

.icon-monitor.icon-left a:before, .icon-monitor.icon-right a:after { content: "💻"; height: inherit; }

i.icon-monitor:before { content: "💻"; height: inherit; }

.icon-mobile.icon-left a:before, .icon-mobile.icon-right a:after { content: "📱"; height: inherit; }

i.icon-mobile:before { content: "📱"; height: inherit; }

.icon-network.icon-left a:before, .icon-network.icon-right a:after { content: "\e776"; height: inherit; }

i.icon-network:before { content: "\e776"; height: inherit; }

.icon-cd.icon-left a:before, .icon-cd.icon-right a:after { content: "💿"; height: inherit; }

i.icon-cd:before { content: "💿"; height: inherit; }

.icon-inbox.icon-left a:before, .icon-inbox.icon-right a:after { content: "\e777"; height: inherit; }

i.icon-inbox:before { content: "\e777"; height: inherit; }

.icon-install.icon-left a:before, .icon-install.icon-right a:after { content: "\e778"; height: inherit; }

i.icon-install:before { content: "\e778"; height: inherit; }

.icon-globe.icon-left a:before, .icon-globe.icon-right a:after { content: "🌎"; height: inherit; }

i.icon-globe:before { content: "🌎"; height: inherit; }

.icon-cloud.icon-left a:before, .icon-cloud.icon-right a:after { content: "\2601"; height: inherit; }

i.icon-cloud:before { content: "\2601"; height: inherit; }

.icon-cloud-thunder.icon-left a:before, .icon-cloud-thunder.icon-right a:after { content: "\26c8"; height: inherit; }

i.icon-cloud-thunder:before { content: "\26c8"; height: inherit; }

.icon-flash.icon-left a:before, .icon-flash.icon-right a:after { content: "\26a1"; height: inherit; }

i.icon-flash:before { content: "\26a1"; height: inherit; }

.icon-moon.icon-left a:before, .icon-moon.icon-right a:after { content: "\263d"; height: inherit; }

i.icon-moon:before { content: "\263d"; height: inherit; }

.icon-flight.icon-left a:before, .icon-flight.icon-right a:after { content: "\2708"; height: inherit; }

i.icon-flight:before { content: "\2708"; height: inherit; }

.icon-paper-plane.icon-left a:before, .icon-paper-plane.icon-right a:after { content: "\e79b"; height: inherit; }

i.icon-paper-plane:before { content: "\e79b"; height: inherit; }

.icon-leaf.icon-left a:before, .icon-leaf.icon-right a:after { content: "🍂"; height: inherit; }

i.icon-leaf:before { content: "🍂"; height: inherit; }

.icon-lifebuoy.icon-left a:before, .icon-lifebuoy.icon-right a:after { content: "\e788"; height: inherit; }

i.icon-lifebuoy:before { content: "\e788"; height: inherit; }

.icon-mouse.icon-left a:before, .icon-mouse.icon-right a:after { content: "\e789"; height: inherit; }

i.icon-mouse:before { content: "\e789"; height: inherit; }

.icon-briefcase.icon-left a:before, .icon-briefcase.icon-right a:after { content: "💼"; height: inherit; }

i.icon-briefcase:before { content: "💼"; height: inherit; }

.icon-suitcase.icon-left a:before, .icon-suitcase.icon-right a:after { content: "\e78e"; height: inherit; }

i.icon-suitcase:before { content: "\e78e"; height: inherit; }

.icon-dot.icon-left a:before, .icon-dot.icon-right a:after { content: "\e78b"; height: inherit; }

i.icon-dot:before { content: "\e78b"; height: inherit; }

.icon-dot-2.icon-left a:before, .icon-dot-2.icon-right a:after { content: "\e78c"; height: inherit; }

i.icon-dot-2:before { content: "\e78c"; height: inherit; }

.icon-dot-3.icon-left a:before, .icon-dot-3.icon-right a:after { content: "\e78d"; height: inherit; }

i.icon-dot-3:before { content: "\e78d"; height: inherit; }

.icon-brush.icon-left a:before, .icon-brush.icon-right a:after { content: "\e79a"; height: inherit; }

i.icon-brush:before { content: "\e79a"; height: inherit; }

.icon-magnet.icon-left a:before, .icon-magnet.icon-right a:after { content: "\e7a1"; height: inherit; }

i.icon-magnet:before { content: "\e7a1"; height: inherit; }

.icon-infinity.icon-left a:before, .icon-infinity.icon-right a:after { content: "\221e"; height: inherit; }

i.icon-infinity:before { content: "\221e"; height: inherit; }

.icon-erase.icon-left a:before, .icon-erase.icon-right a:after { content: "\232b"; height: inherit; }

i.icon-erase:before { content: "\232b"; height: inherit; }

.icon-chart-pie.icon-left a:before, .icon-chart-pie.icon-right a:after { content: "\e751"; height: inherit; }

i.icon-chart-pie:before { content: "\e751"; height: inherit; }

.icon-chart-line.icon-left a:before, .icon-chart-line.icon-right a:after { content: "📈"; height: inherit; }

i.icon-chart-line:before { content: "📈"; height: inherit; }

.icon-chart-bar.icon-left a:before, .icon-chart-bar.icon-right a:after { content: "📊"; height: inherit; }

i.icon-chart-bar:before { content: "📊"; height: inherit; }

.icon-chart-area.icon-left a:before, .icon-chart-area.icon-right a:after { content: "🔾"; height: inherit; }

i.icon-chart-area:before { content: "🔾"; height: inherit; }

.icon-tape.icon-left a:before, .icon-tape.icon-right a:after { content: "\2707"; height: inherit; }

i.icon-tape:before { content: "\2707"; height: inherit; }

.icon-graduation-cap.icon-left a:before, .icon-graduation-cap.icon-right a:after { content: "🎓"; height: inherit; }

i.icon-graduation-cap:before { content: "🎓"; height: inherit; }

.icon-language.icon-left a:before, .icon-language.icon-right a:after { content: "\e752"; height: inherit; }

i.icon-language:before { content: "\e752"; height: inherit; }

.icon-ticket.icon-left a:before, .icon-ticket.icon-right a:after { content: "🎫"; height: inherit; }

i.icon-ticket:before { content: "🎫"; height: inherit; }

.icon-water.icon-left a:before, .icon-water.icon-right a:after { content: "💦"; height: inherit; }

i.icon-water:before { content: "💦"; height: inherit; }

.icon-droplet.icon-left a:before, .icon-droplet.icon-right a:after { content: "💧"; height: inherit; }

i.icon-droplet:before { content: "💧"; height: inherit; }

.icon-air.icon-left a:before, .icon-air.icon-right a:after { content: "\e753"; height: inherit; }

i.icon-air:before { content: "\e753"; height: inherit; }

.icon-credit-card.icon-left a:before, .icon-credit-card.icon-right a:after { content: "💳"; height: inherit; }

i.icon-credit-card:before { content: "💳"; height: inherit; }

.icon-floppy.icon-left a:before, .icon-floppy.icon-right a:after { content: "💾"; height: inherit; }

i.icon-floppy:before { content: "💾"; height: inherit; }

.icon-clipboard.icon-left a:before, .icon-clipboard.icon-right a:after { content: "📋"; height: inherit; }

i.icon-clipboard:before { content: "📋"; height: inherit; }

.icon-megaphone.icon-left a:before, .icon-megaphone.icon-right a:after { content: "📣"; height: inherit; }

i.icon-megaphone:before { content: "📣"; height: inherit; }

.icon-database.icon-left a:before, .icon-database.icon-right a:after { content: "\e754"; height: inherit; }

i.icon-database:before { content: "\e754"; height: inherit; }

.icon-drive.icon-left a:before, .icon-drive.icon-right a:after { content: "\e755"; height: inherit; }

i.icon-drive:before { content: "\e755"; height: inherit; }

.icon-bucket.icon-left a:before, .icon-bucket.icon-right a:after { content: "\e756"; height: inherit; }

i.icon-bucket:before { content: "\e756"; height: inherit; }

.icon-thermometer.icon-left a:before, .icon-thermometer.icon-right a:after { content: "\e757"; height: inherit; }

i.icon-thermometer:before { content: "\e757"; height: inherit; }

.icon-key.icon-left a:before, .icon-key.icon-right a:after { content: "🔑"; height: inherit; }

i.icon-key:before { content: "🔑"; height: inherit; }

.icon-flow-cascade.icon-left a:before, .icon-flow-cascade.icon-right a:after { content: "\e790"; height: inherit; }

i.icon-flow-cascade:before { content: "\e790"; height: inherit; }

.icon-flow-branch.icon-left a:before, .icon-flow-branch.icon-right a:after { content: "\e791"; height: inherit; }

i.icon-flow-branch:before { content: "\e791"; height: inherit; }

.icon-flow-tree.icon-left a:before, .icon-flow-tree.icon-right a:after { content: "\e792"; height: inherit; }

i.icon-flow-tree:before { content: "\e792"; height: inherit; }

.icon-flow-line.icon-left a:before, .icon-flow-line.icon-right a:after { content: "\e793"; height: inherit; }

i.icon-flow-line:before { content: "\e793"; height: inherit; }

.icon-flow-parallel.icon-left a:before, .icon-flow-parallel.icon-right a:after { content: "\e794"; height: inherit; }

i.icon-flow-parallel:before { content: "\e794"; height: inherit; }

.icon-rocket.icon-left a:before, .icon-rocket.icon-right a:after { content: "🚀"; height: inherit; }

i.icon-rocket:before { content: "🚀"; height: inherit; }

.icon-gauge.icon-left a:before, .icon-gauge.icon-right a:after { content: "\e7a2"; height: inherit; }

i.icon-gauge:before { content: "\e7a2"; height: inherit; }

.icon-traffic-cone.icon-left a:before, .icon-traffic-cone.icon-right a:after { content: "\e7a3"; height: inherit; }

i.icon-traffic-cone:before { content: "\e7a3"; height: inherit; }

.icon-cc.icon-left a:before, .icon-cc.icon-right a:after { content: "\e7a5"; height: inherit; }

i.icon-cc:before { content: "\e7a5"; height: inherit; }

.icon-cc-by.icon-left a:before, .icon-cc-by.icon-right a:after { content: "\e7a6"; height: inherit; }

i.icon-cc-by:before { content: "\e7a6"; height: inherit; }

.icon-cc-nc.icon-left a:before, .icon-cc-nc.icon-right a:after { content: "\e7a7"; height: inherit; }

i.icon-cc-nc:before { content: "\e7a7"; height: inherit; }

.icon-cc-nc-eu.icon-left a:before, .icon-cc-nc-eu.icon-right a:after { content: "\e7a8"; height: inherit; }

i.icon-cc-nc-eu:before { content: "\e7a8"; height: inherit; }

.icon-cc-nc-jp.icon-left a:before, .icon-cc-nc-jp.icon-right a:after { content: "\e7a9"; height: inherit; }

i.icon-cc-nc-jp:before { content: "\e7a9"; height: inherit; }

.icon-cc-sa.icon-left a:before, .icon-cc-sa.icon-right a:after { content: "\e7aa"; height: inherit; }

i.icon-cc-sa:before { content: "\e7aa"; height: inherit; }

.icon-cc-nd.icon-left a:before, .icon-cc-nd.icon-right a:after { content: "\e7ab"; height: inherit; }

i.icon-cc-nd:before { content: "\e7ab"; height: inherit; }

.icon-cc-pd.icon-left a:before, .icon-cc-pd.icon-right a:after { content: "\e7ac"; height: inherit; }

i.icon-cc-pd:before { content: "\e7ac"; height: inherit; }

.icon-cc-zero.icon-left a:before, .icon-cc-zero.icon-right a:after { content: "\e7ad"; height: inherit; }

i.icon-cc-zero:before { content: "\e7ad"; height: inherit; }

.icon-cc-share.icon-left a:before, .icon-cc-share.icon-right a:after { content: "\e7ae"; height: inherit; }

i.icon-cc-share:before { content: "\e7ae"; height: inherit; }

.icon-cc-remix.icon-left a:before, .icon-cc-remix.icon-right a:after { content: "\e7af"; height: inherit; }

i.icon-cc-remix:before { content: "\e7af"; height: inherit; }

.icon-github.icon-left a:before, .icon-github.icon-right a:after { content: "\f300"; height: inherit; }

i.icon-github:before { content: "\f300"; height: inherit; }

.icon-github-circled.icon-left a:before, .icon-github-circled.icon-right a:after { content: "\f301"; height: inherit; }

i.icon-github-circled:before { content: "\f301"; height: inherit; }

.icon-flickr.icon-left a:before, .icon-flickr.icon-right a:after { content: "\f303"; height: inherit; }

i.icon-flickr:before { content: "\f303"; height: inherit; }

.icon-flickr-circled.icon-left a:before, .icon-flickr-circled.icon-right a:after { content: "\f304"; height: inherit; }

i.icon-flickr-circled:before { content: "\f304"; height: inherit; }

.icon-vimeo.icon-left a:before, .icon-vimeo.icon-right a:after { content: "\f306"; height: inherit; }

i.icon-vimeo:before { content: "\f306"; height: inherit; }

.icon-vimeo-circled.icon-left a:before, .icon-vimeo-circled.icon-right a:after { content: "\f307"; height: inherit; }

i.icon-vimeo-circled:before { content: "\f307"; height: inherit; }

.icon-twitter.icon-left a:before, .icon-twitter.icon-right a:after { content: "\f309"; height: inherit; }

i.icon-twitter:before { content: "\f309"; height: inherit; }

.icon-twitter-circled.icon-left a:before, .icon-twitter-circled.icon-right a:after { content: "\f30a"; height: inherit; }

i.icon-twitter-circled:before { content: "\f30a"; height: inherit; }

.icon-facebook.icon-left a:before, .icon-facebook.icon-right a:after { content: "\f30c"; height: inherit; }

i.icon-facebook:before { content: "\f30c"; height: inherit; }

.icon-facebook-circled.icon-left a:before, .icon-facebook-circled.icon-right a:after { content: "\f30d"; height: inherit; }

i.icon-facebook-circled:before { content: "\f30d"; height: inherit; }

.icon-facebook-squared.icon-left a:before, .icon-facebook-squared.icon-right a:after { content: "\f30e"; height: inherit; }

i.icon-facebook-squared:before { content: "\f30e"; height: inherit; }

.icon-gplus.icon-left a:before, .icon-gplus.icon-right a:after { content: "\f30f"; height: inherit; }

i.icon-gplus:before { content: "\f30f"; height: inherit; }

.icon-gplus-circled.icon-left a:before, .icon-gplus-circled.icon-right a:after { content: "\f310"; height: inherit; }

i.icon-gplus-circled:before { content: "\f310"; height: inherit; }

.icon-pinterest.icon-left a:before, .icon-pinterest.icon-right a:after { content: "\f312"; height: inherit; }

i.icon-pinterest:before { content: "\f312"; height: inherit; }

.icon-pinterest-circled.icon-left a:before, .icon-pinterest-circled.icon-right a:after { content: "\f313"; height: inherit; }

i.icon-pinterest-circled:before { content: "\f313"; height: inherit; }

.icon-tumblr.icon-left a:before, .icon-tumblr.icon-right a:after { content: "\f315"; height: inherit; }

i.icon-tumblr:before { content: "\f315"; height: inherit; }

.icon-tumblr-circled.icon-left a:before, .icon-tumblr-circled.icon-right a:after { content: "\f316"; height: inherit; }

i.icon-tumblr-circled:before { content: "\f316"; height: inherit; }

.icon-linkedin.icon-left a:before, .icon-linkedin.icon-right a:after { content: "\f318"; height: inherit; }

i.icon-linkedin:before { content: "\f318"; height: inherit; }

.icon-linkedin-circled.icon-left a:before, .icon-linkedin-circled.icon-right a:after { content: "\f319"; height: inherit; }

i.icon-linkedin-circled:before { content: "\f319"; height: inherit; }

.icon-dribbble.icon-left a:before, .icon-dribbble.icon-right a:after { content: "\f31b"; height: inherit; }

i.icon-dribbble:before { content: "\f31b"; height: inherit; }

.icon-dribbble-circled.icon-left a:before, .icon-dribbble-circled.icon-right a:after { content: "\f31c"; height: inherit; }

i.icon-dribbble-circled:before { content: "\f31c"; height: inherit; }

.icon-stumbleupon.icon-left a:before, .icon-stumbleupon.icon-right a:after { content: "\f31e"; height: inherit; }

i.icon-stumbleupon:before { content: "\f31e"; height: inherit; }

.icon-stumbleupon-circled.icon-left a:before, .icon-stumbleupon-circled.icon-right a:after { content: "\f31f"; height: inherit; }

i.icon-stumbleupon-circled:before { content: "\f31f"; height: inherit; }

.icon-lastfm.icon-left a:before, .icon-lastfm.icon-right a:after { content: "\f321"; height: inherit; }

i.icon-lastfm:before { content: "\f321"; height: inherit; }

.icon-lastfm-circled.icon-left a:before, .icon-lastfm-circled.icon-right a:after { content: "\f322"; height: inherit; }

i.icon-lastfm-circled:before { content: "\f322"; height: inherit; }

.icon-rdio.icon-left a:before, .icon-rdio.icon-right a:after { content: "\f324"; height: inherit; }

i.icon-rdio:before { content: "\f324"; height: inherit; }

.icon-rdio-circled.icon-left a:before, .icon-rdio-circled.icon-right a:after { content: "\f325"; height: inherit; }

i.icon-rdio-circled:before { content: "\f325"; height: inherit; }

.icon-spotify.icon-left a:before, .icon-spotify.icon-right a:after { content: "\f327"; height: inherit; }

i.icon-spotify:before { content: "\f327"; height: inherit; }

.icon-spotify-circled.icon-left a:before, .icon-spotify-circled.icon-right a:after { content: "\f328"; height: inherit; }

i.icon-spotify-circled:before { content: "\f328"; height: inherit; }

.icon-qq.icon-left a:before, .icon-qq.icon-right a:after { content: "\f32a"; height: inherit; }

i.icon-qq:before { content: "\f32a"; height: inherit; }

.icon-instagram.icon-left a:before, .icon-instagram.icon-right a:after { content: "\f32d"; height: inherit; }

i.icon-instagram:before { content: "\f32d"; height: inherit; }

.icon-dropbox.icon-left a:before, .icon-dropbox.icon-right a:after { content: "\f330"; height: inherit; }

i.icon-dropbox:before { content: "\f330"; height: inherit; }

.icon-evernote.icon-left a:before, .icon-evernote.icon-right a:after { content: "\f333"; height: inherit; }

i.icon-evernote:before { content: "\f333"; height: inherit; }

.icon-flattr.icon-left a:before, .icon-flattr.icon-right a:after { content: "\f336"; height: inherit; }

i.icon-flattr:before { content: "\f336"; height: inherit; }

.icon-skype.icon-left a:before, .icon-skype.icon-right a:after { content: "\f339"; height: inherit; }

i.icon-skype:before { content: "\f339"; height: inherit; }

.icon-skype-circled.icon-left a:before, .icon-skype-circled.icon-right a:after { content: "\f33a"; height: inherit; }

i.icon-skype-circled:before { content: "\f33a"; height: inherit; }

.icon-renren.icon-left a:before, .icon-renren.icon-right a:after { content: "\f33c"; height: inherit; }

i.icon-renren:before { content: "\f33c"; height: inherit; }

.icon-sina-weibo.icon-left a:before, .icon-sina-weibo.icon-right a:after { content: "\f33f"; height: inherit; }

i.icon-sina-weibo:before { content: "\f33f"; height: inherit; }

.icon-paypal.icon-left a:before, .icon-paypal.icon-right a:after { content: "\f342"; height: inherit; }

i.icon-paypal:before { content: "\f342"; height: inherit; }

.icon-picasa.icon-left a:before, .icon-picasa.icon-right a:after { content: "\f345"; height: inherit; }

i.icon-picasa:before { content: "\f345"; height: inherit; }

.icon-soundcloud.icon-left a:before, .icon-soundcloud.icon-right a:after { content: "\f348"; height: inherit; }

i.icon-soundcloud:before { content: "\f348"; height: inherit; }

.icon-mixi.icon-left a:before, .icon-mixi.icon-right a:after { content: "\f34b"; height: inherit; }

i.icon-mixi:before { content: "\f34b"; height: inherit; }

.icon-behance.icon-left a:before, .icon-behance.icon-right a:after { content: "\f34e"; height: inherit; }

i.icon-behance:before { content: "\f34e"; height: inherit; }

.icon-google-circles.icon-left a:before, .icon-google-circles.icon-right a:after { content: "\f351"; height: inherit; }

i.icon-google-circles:before { content: "\f351"; height: inherit; }

.icon-vkontakte.icon-left a:before, .icon-vkontakte.icon-right a:after { content: "\f354"; height: inherit; }

i.icon-vkontakte:before { content: "\f354"; height: inherit; }

.icon-smashing.icon-left a:before, .icon-smashing.icon-right a:after { content: "\f357"; height: inherit; }

i.icon-smashing:before { content: "\f357"; height: inherit; }

.icon-sweden.icon-left a:before, .icon-sweden.icon-right a:after { content: "\f601"; height: inherit; }

i.icon-sweden:before { content: "\f601"; height: inherit; }

.icon-db-shape.icon-left a:before, .icon-db-shape.icon-right a:after { content: "\f600"; height: inherit; }

i.icon-db-shape:before { content: "\f600"; height: inherit; }

.icon-logo-db.icon-left a:before, .icon-logo-db.icon-right a:after { content: "\f603"; height: inherit; }

i.icon-logo-db:before { content: "\f603"; height: inherit; }

.image { line-height: 0; margin-bottom: 20px; }
.image.circle { border-radius: 50% !important; overflow: hidden; width: auto; }
.image.rounded { overflow: hidden; -webkit-border-radius: 4px 4px; -moz-border-radius: 4px 4px; -ms-border-radius: 4px 4px; -o-border-radius: 4px 4px; border-radius: 4px 4px; }
.image.photo { border: 5px solid white; box-shadow: 0 0 1px #555555; }
.image.photo.polaroid { padding-bottom: 50px; background: #fff; }

/*=====================================================
 Navigation (with dropdowns)
 ======================================================*/
.navbar { width: 100%; display: block; background: white; }
@media only screen and (max-width: 767px) { .navbar { position: relative; border: none; }
  .navbar .column, .navbar .columns { min-height: 0; } }
.navbar.fixed { top: 0; left: 0; z-index: 7000; }
.navbar a.toggle { display: none; }
@media only screen and (max-width: 767px) { .navbar a.toggle { top: 18%; right: 4%; width: 46px; position: absolute; text-align: center; display: inline-block;  height: 40px; line-height: 38px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; font-size: 30px; font-size: 1.875rem; }
  .navbar a.toggle:hover { color:#FFF; }
  .navbar a.toggle:active, .navbar a.toggle.active { color: #FFF; } }
.navbar .logo { display: inline-block; margin: 0 2.12766% 0 0; padding: 0; height: 60px; line-height: 58px; }
.navbar .logo a { display: block; padding: 0 0 0 13px; overflow: hidden; height: 60px; line-height: 58px; }
@media only screen and (max-width: 767px) { .navbar .logo { float: left; display: inline; }
  .navbar .logo a { padding: 0; }
  .navbar .logo a img { width: auto; max-width: 50%; } }
.navbar ul { display: table; vertical-align: middle; margin:  0; float: none; }
@media only screen and (max-width: 767px) { .navbar ul { position: absolute; display: block; width: 100% !important; height: 0; max-height: 0; top: 60px; left: 0; overflow: hidden; text-align: center; background: #f2f2f2; }
  .navbar ul.active { height: auto; max-height: 600px; z-index: 999999; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-box-shadow: 0 2px 2px #d9d9d9; -moz-box-shadow: 0 2px 2px #d9d9d9; box-shadow: 0 2px 2px #d9d9d9; } }
.navbar ul li { display: table-cell; text-align: center; padding-bottom: 0; margin: 0; height: 60px; line-height: 58px; border-bottom: 1px solid #a6adb3; }
@media only screen and (max-width: 767px) { .navbar ul li { display: block; position: relative;  min-height: 50px; max-height: 320px; height: auto; width: 100%; border-right: 0 !important; -webkit-box-shadow: none; box-shadow: none; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; } }
.navbar ul li > a { display: block; padding: 0 13px; white-space: nowrap; color: #55606E;height: 60px; line-height: 58px; font-size: 13px; font-size: 0.8125rem; }
.navbar ul li .btn { border-color: #b3b3b3 !important; }
.navbar ul li.field { margin-bottom: 0 !important; margin-right: 0; }
@media only screen and (max-width: 767px) { .navbar ul li.field { padding: 0 20px; } }
.navbar ul li.field input.search { background: #cccccc; border: none; color: #f2f2f2; }
.navbar ul li:hover > a { position: relative; background: #868d92;  z-index: 1000; }
.navbar ul li .dropdown { width: auto; min-width: 0px; max-width: 320px; height: 0; position: absolute; background: #fafafa; overflow: hidden; z-index: 999; }
.navbar ul li:hover .dropdown { min-height: 50px; max-height: 561px; overflow: visible; height: auto; width: 100%; padding: 0; border-top: 1px solid #f2f2f2; -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); }
@media only screen and (max-width: 767px) { .navbar ul li .dropdown { width: 100%; max-width: 100%; position: relative; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
  .navbar ul li:hover .dropdown { border-bottom: 1px solid #e6e6e6; }
  .navbar ul li:hover .dropdown ul { position: relative; top: 0; background: #ebebeb; min-height: 50px; max-height: 250px; height: auto; overflow: scroll; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }
  .navbar ul li:hover .dropdown ul li { min-height: 50px; border-bottom: #f2f2f2; }
  .navbar ul li:hover .dropdown ul li a { color: white; border-bottom: 1px solid #e6e6e6; }
  .navbar ul li:hover .dropdown ul li a:hover { color: #d04526; } }
@media only screen and (min-width: 768px) and (max-width: 939px) { .navbar > ul > li > .btn a { padding: 0 8px 0 8px !important; }
  .navbar ul > li .dropdown ul li:hover .dropdown { left: -320px; } }

/**** Navbar positioning for Microsoft's browser who deserves not to be mentioned ****/
.ie7 .navbar > ul { width: auto; }

.ie7 .navbar, .ie7 .navbar > ul > li > a { display: block; }

.ie7 .navbar .logo, .ie7 .navbar ul, .ie7 .navbar ul li { float: left; display: inline-block; }

.ie7 .navbar .logo a { display: block; overflow: hidden; }

.ie7 .navbar > ul > li .field { display: block; padding: 12px 18px 0; width: 80%; }

.navbar li .dropdown ul { margin: 0; display: block; }
.navbar li .dropdown ul > li { position: relative; display: block; width: 100%; float: left; text-align: left; height: auto; border-radius: none; }
@media only screen and (min-width: 768px) and (max-width: 939px) { .navbar li .dropdown ul > li { max-width: 320px; word-wrap: break-word; } }
.navbar li .dropdown ul > li a { display: block; padding: 0 20px; color: #d04526; border-bottom: 1px solid #cccccc; text-shadow: none; height: 40px; line-height: 38px; }
@media only screen and (max-width: 767px) { .navbar li .dropdown ul > li a { padding: 0 20px; } }
.navbar li .dropdown ul > li .dropdown { display: none; background: white; }
.navbar li .dropdown ul > li:hover .dropdown { border-top: none; display: block; position: absolute; z-index: 9999; left: 320px; top: 0px; margin-top: 0; }
@media only screen and (max-width: 767px) { .navbar li .dropdown ul > li:hover .dropdown { position: relative; left: 0; }
  .navbar li .dropdown ul > li:hover .dropdown ul { background: #d9d9d9 !important; } }
.navbar li .dropdown ul li:first-child a { border-radius: 0; }
.navbar li .dropdown ul li a:hover { background: #f2f2f2; }

.subnav { display: block; width: auto; overflow: hidden; margin: 0 0 18px 0; padding-top: 4px; }
.subnav li, .subnav dt, .subnav dd { float: left; display: inline; margin-left: 9px; margin-bottom: 4px; }
.subnav li:first-child, .subnav dt:first-child, .subnav dd:first-child { margin-left: 0; }
.subnav dt { color: #999; font-weight: normal; }
.subnav li a, .subnav dd a { color: #05390a; font-size: 15px; text-decoration: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.subnav li.active a, .subnav dd.active a { background: #5dbb73; padding: 5px 9px; text-shadow: 0 1px 1px #77d58e; }

.drawer { position: relative; width: 100%; max-height: 0; background: #222; -webkit-box-shadow: inset 0 -3px 5px black, inset 0 3px 5px black; box-shadow: inset 0 -3px 5px black, inset 0 3px 5px black; overflow: hidden; -webkit-transition-duration: .3s; /* Saf3.2+, Chrome */ -moz-transition-duration: .3s; /* FF4+ */ -ms-transition-duration: .3s; /* IE10 */ -o-transition-duration: .3s; /* Opera 10.5+ */ transition-duration: .3s; }
.drawer.active { height: auto; max-height: 800px; -webkit-transition-duration: .5s; /* Saf3.2+, Chrome */ -moz-transition-duration: .5s; /* FF4+ */ -ms-transition-duration: .5s; /* IE10 */ -o-transition-duration: .5s; /* Opera 10.5+ */ transition-duration: .5s; }
