@import "imports";

/* 
 *
 * Main Styles for The document
 * --------- 
 *
*/
html, body {
  color: #55606E;
}

.row {
  margin: auto;
  text-align: center;
}


h2, h3, h4, h5, h6 {
    color: #363F48;
}

h2 {
  font-size: 42px;
  line-height: 60px;
  font-weight: 100;
}

h3 {
  font-size: 34px;
  font-weight: 100;
  line-height: 46px;
}

h4 {
  font-size: 28px;
  line-height: 32px;
  color: #363F48;
  text-transform: uppercase;
}

a {
  color: $link;
  text-decoration: none;
  @include transition(all 0.3s ease-in-out);
  &:hover, &:focus {
    color: $linkHover;
  }
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

.selected {
  color: #14b2b2;
}

p {
  margin-bottom: 16px;
}


.left {
  text-align: left;
}

.right {
  text-align: right;
}


blockquote {
  font-family: Georgia, serif;
  font-size: 20px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 20px 60px;
  line-height: 1.9;
  position: relative;
  &:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -5px;
    top: -10px;
    color: #aaa;
  }
  cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    &:before {
      content: "\2014 \2009";
    }
  }
}

/* 
 *
 * Continue rest of Page Syling 
 * ----------
 *
*/

.lead {
  font-size: 16px;
  line-height: 25px;
  color: #898e96;
  a {
    color: #009999;
  }
}

.top-title {
  margin: 20px auto 60px;
}


#navblock {
  height: 60px;
  background: #FFF;
}

#nav {
  position: fixed;
  z-index: 9999;
  height: 60px;
  background: rgba($navBar, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  .fixed {
    border-bottom: 1px solid #4b5863;
  }
  .logo {
    padding: 2px 0;
    width: 100%;
    opacity: 0.6;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
  }
  h1 {
    font-weight: 300 !important;
  }
  .logo:hover {
    opacity: 1;
  }
}

.navbar ul {
  padding: 0;
  li {
    border-bottom: none;
    font-size: 13px;
    text-transform: uppercase;
    a {
      color: #FFF;
      font-size: 12px;
    }
  }
}

#nav i {
  font-size: 30px;
}





#sequence {
  .title {
    color: #FFF;
  }
  .subtitle {
    color: #A7ABB1;
  }
}

.hero {
  text-align: center;
  padding: 120px 0;
  h2 {
    color: $link;
  }
  p {
    color: $navBar;
    font-size: 18px;
    font-weight: 200;
  }
}

/* 03. OUR METHOD ================================================== */

#method {
  padding: 70px 0;
  img, .services {
  	@include transition(all 0.3s ease-in-out);
    &:hover {
      opacity: 0.7;
      cursor: default;
      @include transform(scale(0.9));
    }
  }
  .services {
    font-family: 'entypo';
    font-size: 140px;
    line-height: 1;
    color: $navBar;
  }
}

/* 04. SELECTED WORK ================================================== */

#portfolio {
  background: #f9f9f9;
  padding: 70px 0;
  h4 {
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

.selected {
  padding: 20px 0 10px;
}

/* DIVIDER BETWEEN TWO SELECTED WORK */

.divider {
  border-top: 1px solid rgba(91, 105, 120, 0.2);
}

/* PREVIEW BUTTON */

.button-preview {
  color: #fff;
  font-size: 13px;
  margin: 20px 0;
  width: 200px;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 8px 30px 8px 20px !important;
  background: url('../img/arrows.png') $link right center no-repeat;
  @include transition(0.6s all cubic-bezier(0.1, 0.1, 0.08, 1.9));
  -webkit-transition: all 0.3s ease-in-out;
  a, a:visited {
    color: #FFF;
    text-decoration: none;
  }
  &:hover {
    background: url('../img/arrows.png') $linkHover 15px center no-repeat;
    padding: 8px 20px 8px 30px !important;
    cursor: pointer;
    color: #fff;
  }
  &.larger-button {
    padding: 14px 40px 14px 30px !important;
  }
  &.larger-button:hover {
    padding: 14px 30px 14px 40px !important;
  }
}

/* 05. OTHERS WORKS ================================================== */

#projects {
  background: #FFF;
  padding: 70px 0;
}

/* PROJET GRID */

#projects_grid {
  overflow: hidden;
}

.items {
  width: 100%;
  clear: both;
}

.item {
  width: 100%;
  height: 100%;
  margin-top: 2%;
}

.items {
  li img {
    display: block;
    border: 1px solid #ddd;
  }
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  li a {
    display: block;
    position: relative;
    img {
      display: block;
      position: relative;
    }
    overflow: hidden;
    div {
      position: absolute;
      background: rgba($navBar, 0.8);
      width: 100%;
      height: 100%;
      h5 {
        display: block;
        padding: 10px 0;
        margin: 50px 20px 20px 20px;
        text-transform: uppercase;
        color: #FFF;
        font-size: 1.125em;
        text-align: center;
        span {
          font-size: 12px;
          display: block;
          color: #ddd;
          font-weight: 400;
          text-transform: none;
          letter-spacing: 0.2px;
          margin-top: 5px;
        }
      }
    }
  }
}

/* PROJET GRID : FILTER FONCTION */

.filter {
  padding: 0;
  margin-bottom: 30px;
  li {
    margin: 0;
    background: none;
    display: inline;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 4px;
    a {
      color: $link;
      display: inline-block;
      background-color: #f8f8f8;
      padding: 6px 20px 5px;
      margin-bottom: 4px;
      &:hover, &.active {
        background-color: $linkHover;
        color: #FFF;
      }
    }
  }
}

/* 06. OUR FAMILY ================================================== */

#about {
  background: #f9f9f9;
  padding: 70px 0;
  h4 {
    font-size: 1.125em;
    margin-top: 10px;
  }
}

.jacka {
  margin-top: -40px;
  width: 100%;
  max-width: 260px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .jacka {
    margin: 0 auto;
    display: block;
  }
}

.portrait {
  background: #fff;
  margin-top: 2%;
  img {
    min-width: 100%;
  }
}




#about {
  a i {
    color: #7F8289;
    font-size: 18px;
    padding: 10px 0 0px 0;
    @include transition(all 0.3s ease-in-out);
    &:hover {
      color: $linkHover;
    }
  }
  .about {
    padding: 10px 20px;
    text-align: left;
  }
}




#feedbacks {
  background: #fff;
  padding: 70px 0;
}




.grid-testimonials {
  overflow: hidden;
  li {
    float: left;
    list-style-type: none;
    padding-bottom: 3.125em;
  }
  p {
    line-height: 1.5em;
    margin: 0;
  }
}

.grid-testimonials-citation {
  display: block;
  font-size: 1.125em;
  color: #363F48;
  margin-top: 3em;
  text-transform: uppercase;
  text-align: center;
}

.grid-testimonials {
  li div {
    border: 10px solid #f9f9f9;
    border-radius: 10px;
    padding: 2.125em 7.638888888888889%;
    position: relative;
  }
  .quote-arrow {
    background: #fff;
    border-right: 10px solid #f9f9f9;
    border-bottom: 10px solid #f9f9f9;
    content: '';
    display: block;
    position: absolute;
    bottom: -28px;
    left: 50%;
    margin-left: -25px;
    width: 40px;
    height: 40px;
    @include transform(rotate(45deg));
  }
}

@media screen and (min-width: 50em) {
  .grid-testimonials li {
    margin-right: 5%;
    width: 30%;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}


#latest {
  background: rgba($link, 0.9);
  background-position: center;
  @include background-size(cover);
  background-attachment: fixed;
  padding: 30px 0;
  width: 100%;
  p {
    color: #FFF;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 0;
  }
  a, a:visited {
    color: #fff;
    text-decoration: underline;
    @include transition(all 0.3s ease-in-out);
  }
  a:hover, a:focus {
    text-decoration: none;
  }
}

/* SUBSCRIBE EMAIL FIELD  */

.subscribe input {
  &[type="email"] {
    border: none;
    width: 100%;
    font-size: 13px;
    font-weight: 100;
    color: #B5B5B5;
    padding: 13px 40px 12px 40px;
    border-radius: 2px;
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0);
    background: white url(../img/email.png);
    background-position: 3% 9px;
    background-repeat: no-repeat;
   	@include transition(all 0.3s ease-in-out);
    &:focus {
      box-shadow: inset 0px 0px 0px 2px #DDD;
      color: #555;
    }
  }
  &[type="submit"] {
    float: right;
    display: block;
    width: 100%;
    padding: 13px 40px 10px 40px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
    color: #FFF;
    background-color: $link;
	  @include transition(all 0.3s ease-in-out);
    &:hover {
        background: $linkHover;
    }
  }
}




#footer {
  padding: 70px 0 20px;
}



.social {
  padding: 50px 0 0px;
  i {
    font-size: 23px;
    margin: 0 20px;
  }
  a {
    color: #969BA2;
    &:hover {
      color: $linkHover;
    }
  }
}

.contact {
  h4, p {
    margin-left: 15px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    color: #7F8289;
    margin-top: 10px;
  }
  form {
    label {
      float: left;
      padding-bottom: 5px;
      span {
        color: #D1D1D1;
      }
    }
    input, textarea {
      font-size: 13px;
      @include transition(all 0.3s ease-in-out);
      border: 1px solid #C2C6CB;
      border-radius: 2px 2px 2px 2px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05) inset;
      color: #55606E;
      resize: vertical;
      font-size: 12px;
      margin-bottom: 15px;
      letter-spacing: 1px;
      padding: 9px 10px 8px;
      width: 100%;
    }
    input {
      height: 40px;
      resize: none;
    }
    textarea {
      min-height: 120px;
      padding-top: 8px;
    }
    .submit {
      color: #FFF;
      height: 40px;
      width: 150px;
      border-radius: 2px;
      letter-spacing: 1px;
      float: left;
      display: block;
      border: none;
      cursor: pointer;
      font-size: 13px;
      background-color: $link;
      @include transition(all 0.3s ease-in-out);
      &:hover {
        background: $linkHover;
        cursor: pointer;
      }
    }
    input:required, textarea:required {
      background: white url(../img/invalid.png);
      background-position: 98% 6px;
      background-repeat: no-repeat;
      box-shadow: inherit;
    }
    input:required:valid, textarea:required:valid {
      background: white url(../img/valid.png);
      background-position: 98% 6px;
      border: 1px solid #BBB;
      background-repeat: no-repeat;
      color: #777;
    }
    input:focus:invalid, textarea:focus:invalid {
      background: white url(../img/invalid-red.png) no-repeat 98% 6px;
      border-color: #ec7e7e;
      box-shadow: 0 0 2px rgba(236, 126, 126, 0.7);
    }
  }
  .info {
    margin-top: 25px;
  }
}






#copyright {
  background: #FFF;
  .row {
    padding: 20px;
    text-transform: uppercase;
    font-size: 11px;
  }
}



/* 
 * START OF BLOG 
*/

.post-body {
    margin-top: 40px;
    h2, h3, h4, h5, h6 {
      margin: 10px 0 20px;
    }
    p {
      font-size: 15px
    }
    .entry-date {
      margin: 20px 0;
      padding: 20px 0 40px;
      border-top: 1px solid #ededed;
      .first {
        float: left;
      }
      .last {
        float: right;
        i {
          font-size: 20px;
          margin: 0
        }
      }
    }
}
.post-odd {
  padding: 40px 0;
}
.post-even {
  @extend .post-odd;
  background: #f9f9f9;
}

.post-group {
  p {
    margin: 0;
  }
  h3 {
    margin: 5px;
    line-height: 1;
    padding: 0;
  }
}

.post-comments {
    background: #f9f9f9;
    padding: 70px 0;
}

.post-pagination {
  max-width: 340px;
  border: 1px solid #ededed;
  border-left: 0;
  border-right: 0;
  margin: 20px auto;
  padding: 10px 0;
  a {
    margin: 0 20px;
  }
}


@media screen and (max-width: 768px) {
  .subscribe input[type="email"] {
    text-align: center;
    margin-bottom: 10px;
  }
  .contact {
    form .submit {
      margin-bottom: 20px;
    }
    .left {
      margin-left: -20px;
      text-align: center;
    }
  }
  .divider {
    border-top: none;
  }
  .social i {
    font-size: 20px;
    margin: 0 15px;
  }
  .contact {
    .left {
      margin-left: -20px;
    }
    form {
      margin-bottom: 50px;
    }
  }
  #about {
    img {
      width: 100%;
    }
    .portrait {
      width: 48%;
    }
  }
  #portfolio .row {
    h4 {
      text-align: center;
      margin-top: 0px;
    }
    p {
      text-align: center;
    }
  }
  .button-preview {
    margin: auto;
    margin: 15px auto;
  }
  #sequence .title {
    color: #FFF;
  }
  .contact form .submit {
    width: 100%;
  }
  #projects_grid .item {
    width: 48%;
  }
  #nav .logo {
    max-width: 25%;
  }
  .navbar ul li {
    //background: #eee;
    border-bottom: 1px solid #a6adb3;
    &:hover {
      background: #a6adb3;
      border-bottom: 1px solid #a6adb3;
    }
    a {
      color: #55606E;
      &:hover {
        color: #FFF;
      }
    }
  }
}

/* MAX WIDH 400PX */

@media screen and (max-width: 480px) {
  h2 {
    font-size: 28px;
  }
  .lead {
    font-size: 15px;
  }
  .subscribe input[type="email"] {
    text-align: center;
    margin-bottom: 10px;
  }
  .contact form .submit {
    margin-bottom: 20px;
  }
  .social i {
    font-size: 20px;
    margin: 0 9px;
  }
  #portfolio .row {
    h4, p {
      text-align: center;
    }
  }
  .contact .left {
    margin-left: -20px;
    text-align: center;
  }
  .button-preview {
    margin: auto;
    margin: 15px auto;
  }
  #about {
    img {
      width: 100%;
    }
    .portrait {
      width: 98%;
    }
  }
  .divider {
    border-top: none;
  }
  #projects_grid .item {
    width: 100%;
  }
  #nav .logo {
    max-width: 35%;
  }
  .post-body .entry-date {
    .first, .last {
      float: none;
      display: block;
    }
  }
}

/* FIREFOX FIX */
@-moz-document url-prefix() {
  .filter li a {
    padding: 5px 20px 6px;
  }
}


.isotope-item {
  z-index: 2;
  display: block !important;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope {
	@include transition-duration(1s);
	-webkit-transition-property: height, width;
  	-moz-transition-property: height, width;
  	-ms-transition-property: height, width;
  	-o-transition-property: height, width;
  	transition-property: height, width;
  	.isotope-item {
	    @include transition-duration(1s);
	    -webkit-transition-property: -webkit-transform, opacity;
	    -moz-transition-property: -moz-transform, opacity;
	    -ms-transition-property: -ms-transform, opacity;
	    -o-transition-property: top, left, opacity;
	    transition-property: transform, opacity;
	  }
  &.no-transition {
  	@include transition-duration(0s);
    .isotope-item {
    	@include transition-duration(0s);
    }
  }
  .isotope-item.no-transition {
    @include transition-duration(0s);
  }
}