.about
{
  &__info
  {
    @include span-columns(8 of 12);
    @include media(max-width 760px)
    {
      @include span-columns(12 of 12);
    }
  }
  &__meta
  {
    padding-left: 20px;

    @include span-columns(4 of 12);
    @include omega;
    @include media(max-width 760px)
    {
      padding-left: 0;

      @include span-columns(12 of 12);
    }
  }
  h5
  {
    color: $link-colour;
  }
  a,a:visited
  {
    color: lighten($primary-colour, 10%);
    &:hover,&:focus
    {
      color: $link-colour;
    }
  }
}
