.article-list
{
  margin: 0 0 60px 0;
  padding: 0;
  list-style: none;
  &__year
  {
    @include font-size(24px);
    @include line-height(24px);
  }
  &__date
  {
    font-style: italic;
    color: $primary-colour;
  }
  &__divider
  {
    border-top: 3px solid #ddd;
  }
}

/// Single Page
.article
{
  &__header
  {
    margin-bottom: 40px;
  }
  &__heading
  {
    max-width: 100%;
  }
  &__feature
  {
    position: relative;
    width: 100%
    img
    {
      max-width: 100%;
      height: auto;
    }
    margin: 0 auto 40px;
  }
  &__meta
  {
    margin: 40px 0;
    p
    {
      margin: 0;

      @include font-size(14px);
      @include line-height(20px);
    }
  }
  &__comments
  {
    > .constrain
    {
      position: relative;
    }
    h3
    {
      margin-top: 0;
    }
  }
  &__share
  {
    position: absolute;
    top: 23px;
    right: 1.25em;
    display: inline-block;
    vertical-align: middle;

    @include media(max-width 580px) {
      position: relative;
      margin-top: -20px;
      margin-bottom: 40px;
      margin-left: 20px;
    }

    @include font-size(14px);
    @include line-height(37px);
    i
    {
      margin: 0 2px;
      vertical-align: middle;

      @include line-height(34px);
      @include font-size(18px);
    }
    a,a:visited
    {
      color: $primary-colour;
    }
    a:hover,a:focus
    {
      color: $link-hover-colour;
    }
  }
}
