.works .section__description
{
  @include span-columns(6 of 12);
  @include media(max-width 880px)
  {
    @include span-columns(12 of 12);
  }
}

.filter
{
  margin: -1px 0 30px 0;
  padding: 0;
  text-align: right;

  @include span-columns(6 of 12);
  @include omega;
  @include media(max-width 880px)
  {
    @include span-columns(12 of 12);
    text-align: left;
  }
  li
  {
    display: inline-block;
    margin-left: 4px;
    font-weight: 700;
    cursor: pointer;
    background: none;

    @include font-size(13px);
    a
    {
      display: inline-block;
      margin-bottom: 4px;
      padding: 6px 15px 5px;
      color: #777;
      border: 2px solid #ddd;
      &:hover,&.active
      {
        color: $link-colour;
        border-color: $link-colour;
      }
    }
  }
}

/* PROJET GRID */
.projects__grid
{
  clear: both;
  width: 103%;
  margin-left: -1%;
  padding: 0;
  list-style: none;
  .item
  {
    display: inline-block;
    width: 31%;
    margin: 1%;
    @include media(max-width 940px)
    {
      width: 47.5%;
    }
    @include media(max-width 600px)
    {
      width: 100%;
      margin: 1% 0;
    }
  }
  li img
  {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    border: 3px solid #ddd;
  }
  &:after
  {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
  }
  li a
  {
    position: relative;
    display: block;
    overflow: hidden;
    div
    {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(#000, .8);
      h5
      {
        display: block;
        margin: 70px 20px 20px 20px;
        padding: 10px 0;
        font-size: 1.125rem;
        line-height: 1.3;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        span
        {
          display: block;
          margin-top: 5px;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: .2px;
          text-transform: none;
          color: #ddd;
        }
      }
    }
  }
}
