.testimonial__item
{
  @include span-columns(4 of 12);
  @include media(max-width 860px) {
    @include span-columns(12 of 12);
  }
  div
  {
    position: relative;
    padding: 24px 30px;
    text-align: center;
    border: 6px solid lighten($underscore-colour, 5%);
    border-radius: 8px;
  }
  p
  {
    margin-bottom: 0;

    @include font-size(16px);
  }
  .quote-arrow
  {
    position: absolute;
    bottom: -24px;
    left: 50%;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: -25px;
    content: '';
    border-right: 6px solid lighten($underscore-colour, 5%);
    border-bottom: 6px solid lighten($underscore-colour, 5%);
    background: #fff;

    @include transform(rotate(45deg));
  }
  &-citation
  {
    display: block;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;

    @include font-size(18px);
  }
}
