{{ theme:partial src="header" }}
    
    <section id="header">
        <div class="sequence-theme">
            <div class="hero">
                <h2>The Blog</h2>
                <p>Random Thoughts and Feelings</p>
            </div>
        </div>
    </section>
  
    <section class="post-body">
        <div class="row">
            <div class="ten columns centered">
              {{ if taxonomy_slug }}
                <h2 class="page-title"><span>Blog Category: <em>{{ taxonomy_slug }}</em></span></h2>
              {{ endif }}
            </div>
        </div>
    </section>

    {{ layout_content }}

{{ theme:partial src="footer" }}