{{ theme:partial src="header" }}

	<section id="header">
		<div class="sequence-theme">
			<div class="hero">
				<h2>WordPress &amp; PHP Development</h2>
				<p>Designing, Developing &amp; Launching Websites from Newcastle upon Tyne</p>
			</div>
		</div>
	</section>


	<section id="method">
	    <div class="row top-title">
	      <div class="twelve columns centered">
	        <h2>Process</h2>
	        <p class="lead">How I'll go about working with you.</p>
	      </div>
	    </div>

	    <div class="row">
	      	<div class="four columns">
	      		<p class="entypo services">&#9873;</p>
	    		<p>Initially we will discuss what you need from your website, and plan out the project to achieve the goals you set.</p>
	      	</div>

	      	<div class="four columns">
	      		<p class="entypo services">&#9874;</p>
	    		<p>I will develop the website to a high quality. A <span class="hint--bottom hint--capped" data-hint="A content managed system helps you update your site in the future without needing to pay for constant updates.">content managed system</span> can be used or build a bespoke solution to suit your needs.</p>
	      	</div>
	      
	      
	      	<div class="four columns">
	      		<p class="entypo services">&#128640;</p>
	    		<p>Blast Off! I won't just leave you there though. I will work with you on a regular basis to keep your site optimised and running smoothly.</p>
	      	</div>
	      
	    </div>
	</section>



	<section id="portfolio">
	    <div class="row top-title">
	      <div class="twelve columns centered">
	        <h2>Selected Projects</h2>
	        <p class="lead">Some of the projects I really enjoyed.</p>
	      </div>
	    </div>

	    <div class="row">
	    	<div class="six columns selected">
	    		<img src="/assets/img/projects/pancake/pancake-mac.png" alt="Pancake App Preview" data-original="/assets/img/projects/pancake/pancake-mac.png">
	    	</div>
	    
	    	<div class="six columns">
	    		 <h4 class="left">Pancake App</h4>
	    		 <p class="left">This project consisted of the front end development of an invoicing application aimed at small business and freelancers. I worked on this project over 5 months providing constant updates.</p>
	    		 <div class="button-preview"><a href="https://pancakeapp.com" title="Visit the Pancake App Website">Visit Website</a></div>
	    	</div>
	    </div>

	    <div class="row divider">
	    	<div class="six columns selected">
	    		<img src="/assets/img/projects/dcep/dcep.png" alt="Door County Events Planning" data-original="/assets/img/projects/dcep/dcep.png">
	    	</div>
	    
	    	<div class="six columns">
	    		<h4 class="left">Door County Events Planning</h4>
	    		 <p class="left">I developed a new theme for DCEP to provide them with a cleaner responsive website. A feature was built so that users could provide feedback for the weddings they had planned by the company.</p>
	    		<div class="button-preview"><a href="#" title="Find out more about DCEP" class="hint--bottom hint--rounded" data-hint="A project info section will be coming soon.">Visit Website</a></div>
	    	</div>
	    </div>
	</section>




	<section id="projects">
	    <div class="row top-title">
	      <div class="twelve columns centered">
	        <h2>Other Projects</h2>
	        <p class="lead">Not featured, but still awesome, projects.</p>
	      </div>
	    </div>

	    <div id="projects_grid" class="row">  
        	<ul class="filter">
          		<li><a class="active" title="Remove Filter" href="#" data-filter="*">All</a></li>
          		<li><a href="#" title="Filter Wordpress" data-filter=".wordpress">WordPress</a></li>
          		<li><a href="#" title="Filter Front" data-filter=".front">Front End</a></li>
          		<li><a href="#" title="Filter E-commerce" data-filter=".ecom">E-commerce</a></li>
          		<li><a href="#" title="Filter Design" data-filter=".design">Design</a></li>
        	</ul>
        
        
        	<ul class="items three_up tiles centered">
        		
        		<li class="item wordpress">
          			<a href="http://maxmajor.net" title="Max Major Website" target="_blank">
          				<img src="/assets/img/projects/maxmajor/mm.jpg" alt="Max Major Prevew" data-original="/assets/img/projects/maxmajor/mm.jpg" />
            			<div><h5>Max Major<span>Front End, WordPress</span></h5></div>
            		</a>
        		</li>

				<li class="item front">
          			<a href="http://killhausentertainment.com" title="Killhaus Website" target="_blank">
          				<img src="/assets/img/projects/killhaus/killhaus.jpg" alt="Killhaus Prevew" data-original="/assets/img/projects/killhaus/killhaus.jpg" />
            			<div><h5>Killhaus<span>Front End</span></h5></div>
            		</a>
        		</li>

				<li class="item wordpress">
          			<a href="http://getrideapp.com" title="GetRide Website" target="_blank">
          				<img src="/assets/img/projects/getride/small.png" alt="GetRide Preview" data-original="/assets/img/projects/getride/small.png" />
            			<div><h5>Get Ride<span>Front End, WordPress</span></h5></div>
            		</a>
        		</li>  

        		<li class="item wordpress">
          			<a href="http://milwaukeehardmoney.com/" title="Milwaukee Hard Money Webiste" target="_blank">
          				<img src="/assets/img/projects/mhm/small.png" alt="Milwaukee Hard Money Preview" data-original="/assets/img/projects/mhm/small.png" />
            			<div><h5>Milwaukee Hard Money<span>Front End, WordPress</span></h5></div>
            		</a>
        		</li>

        		<li class="item front">
          			<a href="http://prepfactory.com" title="Prepfactory Website" target="_blank">
          				<img src="/assets/img/projects/prepfactory/prepfactory.jpg" alt="prepfactory Prevew" data-original="/assets/img/projects/prepfactory/prepfactory.jpg" />
            			<div><h5>Prepfactory<span>Front End</span></h5></div>
            		</a>
        		</li>
            
            	<li class="item ecom wordpress">
          			<a href="http://amyscupcakes.org.uk" title="Amy's Cupcakes Website" target="_blank">
          				<img src="/assets/img/projects/amyscupcakes/small.png" alt="Amy's Cupcakes Preview" data-original="/assets/img/projects/amyscupcakes/small.png" />
            			<div><h5>Amy's Cupcakes<span>E-commerce</span></h5></div>
            		</a>
        		</li>

			<li class="item wordpress">  	
				<a href="http://typeaimages.com" title="Type A Images Website" target="_blank">
          				<img src="/assets/img/projects/typeaimages/small.png" alt="Type A Images Prevew" data-original="/assets/img/projects/typeaimages/small.png" />
            			<div><h5>Type A Images<span>Front End, WordPress</span></h5></div>
            		</a>
        		</li>

        		
        	</ul>
		</div>
	</section>


	<section id="about">
	    <div class="row top-title">
	      <div class="twelve columns centered">
	        <h2>About Me</h2>
	        <p class="lead">Behind the Developer</p>
	      </div>
	    </div>

	    <div class="row">
	    	<div class="eight columns left">
	    		<p>Hello, I go by the name of Jack Whiting or Jacka, if you prefer. By day you can find me coding websites and working on awesome projects - fuelled by coffee, tea and music. By night you will find me watching films and playing games. </p>

				<p>I have been working on websites for around eight years but started working on building up a freelance portfolio just three years ago. It has to be one of the best decisions in my life. I felt like pursuing my career by taking an undergraduate degree at Northumbria University in Newcastle to solidify my knowledge and understanding. This combined with the work I have done with awesome clients has launched my career off to a rocketing start.</p>
				
				<p>Alongside developing websites I have become a keen enthusiast on photography and have started building up these skills. You will find collections of photographs on my <a href="http://www.flickr.com/photos/95920529@N04/" target="_blank" title="Jackabox Flickr">Flickr</a> - you should take a peek.
			</div>

			<div class="four columns right">
				<img src="/assets/img/jacka-drawn.png" class="jacka" alt="Graphic of Myself" data-original="/assets/img/jacka-drawn.png" />
			</div>
	    </div>
	</section>



	<section id="feedbacks">
	    <div class="row top-title">
	      <div class="twelve columns centered">
	        <h2>What People Think</h2>
	        <p class="lead">I love feedback, here are a few testimonials.</p>
	      </div>
	    </div>	

	    <div class="row">
	        <ul class="grid-testimonials">
	          <li>
	            <div><p>&ldquo;Jack has been a great find for myself and my company. He is very prompt on responses and delivery of his services. That would be outstanding alone, but he also is great at what he does. The quality of his work is top notch and I hope if everyone I work with in the future is as talented and passionate as him.&rdquo;</p><span class="quote-arrow"></span></div>
	            <span class="grid-testimonials-citation">Brian Pensinger</span>
	          </li>

	      	  <li>
	            <div><p>&ldquo;I would have no doubt whatsoever in recommending Jack for website design. He has an incredibly quick mind, is very knowledgeable about the web, and I have been delighted with his work. So much so that he now hosts my site as well, and I know that he is constantly tweaking at things so I am confident in the fact that everything is working as it should.&rdquo;</p><span class="quote-arrow"></span></div>
	            <span class="grid-testimonials-citation">Anne Williams</span>
	          </li>
	          
	          <li>
	            <div><p>&ldquo;Jack is a well organised, thorough and superb Client to work with, his time management and skills are fantastic and is an overall pleasure to work with. I would recommend Jack as a Web Designer/Developer to any business wanting to enhance their online branding.&rdquo;</p><span class="quote-arrow"></span></div>
	            <span class="grid-testimonials-citation">Harry Vann</span>
	          </li>                                                                                           
	        </ul>
	  	</div>
	</section>



	<section id="latest">

		<div class="row subscribe">
			<div class="twelve columns">
				<p>I am working on a pretty awesome application for people with Crohn's Disease to manage and track their condition. <a class="hint--bottom hint--rounded" title="Find out more about Crohn's Tracker" data-hint="We are still in devleopment but please sign up to our newsletter!" href="http://crohnstracker.com">Find out more</a> &rarr;</p>
			</div><!-- /8 -->
			     
		</div><!-- /row -->
		
	</section>


	<section id="footer">
		
		<div class="row top-title">
			<div class="twelve columns centered">
				<h2>Get in touch</h2>
				<p class="lead">I am currently accepting new projects. Send me a message now.</p>
			</div>
		</div>

		<div class="row contact">
		    <form name="htmlform" method="post" action="{{ path src="email.php" }}">            
		    	<div class="eight columns">
		    		<label>Your Name <span class="required">(required)</span></label>
		    		<input type="text" name="name" required>
		    		<label>E-Mail <span class="required">(required)</span></label>
		    		<input  type="email" name="email" required>
		    		<label>Message <span class="required">(required)</span></label>
		    		<textarea name="comments" cols="1" rows="5" required ></textarea>
		    		<button name="send" type="submit" class="submit">SEND</button>
		    	</div>
		    </form>

		    <div class=" info four columns left pull_right">
		 	    <h4>LOCATION</h4>
		 	    <p>
		 	    	I am based in Newcastle upon Tyne and I am willing to work on site if you require it.<br>
		 	    </p>
		 	    <h4>CONTACT INFO</h4>
		 	    <p>
		 	    	<a href="mailto:jack@jackabox.co.uk" title="Email Jackabox">jack@jackabox.co.uk</a>
		 	    	<br>+44 (0)701-007-3638<br>
		 	    </p>
		    </div>
		</div>
	</section>

{{ theme:partial src="footer" }}