	<div class="row social">
	    <div class="twelve columns centered">
	      	<a title="Jackabox Twitter" href="http://twitter.com/jackabox" target="_blank"><i class="icon-twitter"></i></a>
			<a title="Jackabox Facebook" href="https://www.facebook.com/jackaboxdesign" target="_blank"><i class="icon-facebook"></i></a>	
			<a title="Jackabox Skype" href="skype:jackwhiting92?chat" target="_blank"><i class="icon-skype"></i></a>
			<a title="Jackabox Spotify" href="http://open.spotify.com/user/jackwhiting92" target="_blank"><i class="icon-spotify"></i></a>	
	    </div>  
	</div>

	<section id="copyright">
		<div class="row">
		    <div class="twelve columns centered">
		        <p>Copyright © 2014+ Jackabox</p>
		    </div>
		</div>	  
	</section>

    <!-- Grab Google CDN's jQuery, fall back to local if offline -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ theme:js src="libs/jquery-1.9.1.min" }}"><\/script>')</script>

    <!-- Compressed Javascript -->
	<script src="{{ theme:js src="libs/gumby.min" }}"></script>
	<script src="{{ theme:js src="libs/ui/gumby.toggleswitch" }}"></script>
	<script src="{{ theme:js src="main-ck" }}"></script>
	<script src="{{ theme:js src="jquery.lazyload-ck" }}"></script>
	<script src="{{ theme:js src="jquery.scrollto-ck" }}"></script>
	<script src="{{ theme:js src="jquery.isotope-ck" }}"></script>
	<script src="{{ theme:js src="jquery.hoverdir-ck" }}"></script>
	<script src="{{ theme:js src="jquery.gist-ck" }}"></script>
	
	{{ theme:partial src="tracking" }}

	<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->
  	</body>
</html>