<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Title and meta tag /-->
    <title>{{ if segment_3 }}{{ segment_3|deslugify|title }} | {{ endif }}{{ if segment_2 }}{{ segment_2|deslugify|title }} | {{ endif }}{{ if segment_1 }}{{ segment_1|title }} | {{ endif }}{{ _site_name }}{{ if !segment_1 }} | {{ slogan }}{{ endif }}</title>
    <meta name="description" content="{{ description }}" />
	<meta name="robots" content="robots.txt">
    <meta name="author" content="humans.txt">

    <!-- Favicon /-->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <!-- Facebook Metadata /-->
    <meta property="og:image" content="facebook.png" />
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:title" content="{{ _site_name }} - {{ slogan }}"/>
    <meta property="og:type" content="Blog"/>

    <!-- Google+ Metadata /-->
    <meta itemprop="name" content="{{ _site_name }} - {{ slogan }}">
    <meta itemprop="description" content="{{ description }}">
    <meta itemprop="image" content="facebook.png">

    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

	<!-- Fonts (Typekit -> Google) -->
    <script type="text/javascript" src="//use.typekit.net/cfx4xas.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Stylesheets /-->
    <link rel="stylesheet" href="{{theme:css src="gumby"}}">
    <link rel="stylesheet" href="{{theme:css src="style"}}">
    <link rel="stylesheet" href="{{theme:css src="hint"}}">
    <link rel="stylesheet" href="{{theme:css src="sequence"}}">

    <script src="{{ theme:js src="libs/modernizr-2.6.2.min" }}"></script>
    
</head>
<body>

	<div id="navblock">
  		<div class="pretty navbar" gumby-fixed="top" id="nav">

			<div class="row">
    				<h1 class="two columns"><a title="Home" href="/" class="logo">Jackabox</a></h1>
				<a class="toggle" title="Show Menu" gumby-trigger="#nav > .row > ul" href="#"><i class="icon-menu"></i></a>      
			
				<ul style="float:right;">
		    		{{ if segment_1 }}
				    	<li><a title="Home" href="{{ path src="/#header" }}">Home</a></li>
				    	<li><a title="Process" href="{{ path src="/#method" }}">Process</a></li>
				    	<li><a title="Works" href="{{ path src="/#portfolio" }}">Works</a></li>	
				    	<li><a title="About" href="{{ path src="/#about" }}">About</a></li>
				    	<li><a title="Blog" href="{{ path src="blog" }}">Blog</a></li>	    	
				    	<li><a title="Contact" href="{{ path src="/#footer" }}">Contact</a></li>
	    	 		{{ else }}
				    	<li><a title="Home" class="stop" href="/#header">Home</a></li>
				    	<li><a title="Process" class="stop" href="/#method">Process</a></li>
				    	<li><a title="Works" class="stop" href="/#portfolio">Works</a></li>	
				    	<li><a title="About" class="stop" href="/#about">About</a></li>
				    	<li><a title="Blog" href="{{ path src="blog" }}">Blog</a></li>	    	
				    	<li><a title="Contact" class="stop" href="/#footer">Contact</a></li>
	    			{{ endif }}
				</ul> 
			</div>
  		</div>
	</div>