{{ theme:partial src="_doc_head" }}

<body class="site {{ if segment_1 == "" }}home{{ else }}{{ segment_1 }}{{ endif }}">

    {{ theme:partial src="_header" }}

    {{ layout_content }}

    {{ theme:partial src="_footer" }}

    <script src="{{ theme:asset src="dist/js/all.min.js" }}"></script>

</body>
</html>