{{ theme:partial src="_doc_head" }}

<body class="site home" id="home">
    <div class="splash" style="background-image: url('/assets/img/header.jpg');">
        <div class="constrain">
            <div class="message">
                <h2>Hello, I am Jack, a freelance web developer.</h2>
                <p>Currently available for select projects, collaboration and remote work.</p>
                <a href="#works" class="stop">Take A Look At What I've Done</a>
            </div>
        </div>
    </div>

    {{ theme:partial src="_header" }}

    <section class="section works" id="works">
        <div class="constrain">
            <h3 class="section__title">Works</h3>
            <div class="section__divider"></div>
            <p class="section__description">Featured projects I’ve worked on over the years.</p>

            <!-- include filters here -->
            <ul class="filter">
                <li><a class="active" title="Remove Filter" href="#" data-filter="*">All</a></li>
                <li><a href="#" title="Filter Wordpress" data-filter=".wordpress">WordPress</a></li>
                <li><a href="#" title="Filter Ecommerce" data-filter=".ecommerce">Ecommerce</a></li>
                <li><a href="#" title="Filter Bespoke" data-filter=".bespoke">Bespoke</a></li>
            </ul>

            <!-- loop the works -->
            <ul class="projects__grid">
                <li class="item wordpress">
                    <a href="http://doorcountyevents.com/" title="Door County Event Planners" target="_blank">
                        <img src="/assets/img/projects/dcep/dcep-small.jpg" alt="Door County Event Planners Preview" />
                        <div><h5>Door County Events<br> <span>WordPress</span></h5></div>
                    </a>
                </li>

                <li class="item bespoke">
                    <a href="javascript:void(0);" title="Crohn's Tracker" target="_blank">
                        <img src="/assets/img/projects/crohnstracker/ct-small.jpg" alt="Crohn's Tracker Preview" />
                        <div><h5>Crohn's Tracker<br> <span>Bespoke, Branding, Laravel</span></h5></div>
                    </a>
                </li>

                <li class="item wordpress">
                    <a href="http://maxmajor.net/" title="Max Major" target="_blank">
                        <img src="/assets/img/projects/maxmajor/maxmajor-small.jpg" alt="Max Major Prevew"/>
                        <div><h5>Max Major<br> <span>WordPress</span></h5></div>
                    </a>
                </li>

                <li class="item">
                    <a href="http://killhausentertainment.com/" title="Killhaus" target="_blank">
                        <img src="/assets/img/projects/killhaus/killhaus-small.jpg" alt="Killhaus Prevew" />
                        <div><h5>Killhaus<br> <span>Frontend Only</span></h5></div>
                    </a>
                </li>

                <li class="item ecommerce">
                    <a href="javascript:void(0);" title="Temptations" target="_blank">
                        <img src="/assets/img/projects/temptations/temptations-small.jpg" alt="Temptations Preview" />
                        <div><h5>Temptations<br> <span>Ecommerce, Shopify</span></h5></div>
                    </a>
                </li>

                <li class="item bespoke">
                    <a href="https://www.pancakeapp.com/" title="Pancake App" target="_blank">
                        <img src="/assets/img/projects/pancake/pancake-small.jpg" alt="Pancake App Preview" />
                        <div><h5>Pancake App<br> <span>Bespoke, CodeIgniter</span></h5></div>
                    </a>
                </li>

                <li class="item wordpress">
                    <a href="http://typeaimages.com/" title="Type A Images" target="_blank">
                        <img src="/assets/img/projects/typeaimages/typeaimages-small.jpg" alt="Type A Images Prevew" />
                        <div><h5>Type A Images<br> <span>WordPress</span></h5></div>
                    </a>
                </li>

                <li class="item wordpress ecommerce">
                    <a href="http://www.amyscupcakes.org.uk/" title="Amy's Cupcakes" target="_blank">
                        <img src="/assets/img/projects/amyscupcakes/amyscupcakes-small.jpg" alt="Amy's Cupcakes Preview" />
                        <div><h5>Amy's Cupcakes<br> <span>Ecommerce, WordPress</span></h5></div>
                    </a>
                </li>

                <li class="item bespoke">
                    <a href="http://entrepreneursforum.net/" title="Entrepreneur's Forum" target="_blank">
                        <img src="/assets/img/projects/entrepreneursforum/ef-small.jpg" alt="Entrepreneur's Forum Preview" />
                        <div><h5>Entrepreneur's Forum<br> <span>Bespoke, Laravel</span></h5></div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="section about" id="about">
        <div class="constrain">
            <h3 class="section__title">About Me</h3>
            <div class="section__divider"></div>
            <p class="section__description">Behind the developer.</p>

            <div class="about__info">
                {{ get_content from="about" }}
                    {{ content }}
                {{ /get_content }}
            </div>
            <div class="about__meta">
                <h5>Location</h5>
                <p>East Yorkshire, England</p>

                <h5>Availability</h5>
                <p>Available from Feb, 2015</p>

                <h5>Current Side Project</h5>
                <p>www.crohnstracker.com</p>

                <h5>Elsewhere</h5>
                <p>
                    <a href="http://twitter.com/jackabox"><i class="fa fa-twitter"></i></a> &nbsp;
                    <a href="https://uk.linkedin.com/pub/jack-whiting/55/9a5/28"><i class="fa fa-linkedin"></i></a> &nbsp;
                    <a href="https://github.com/jackabox/"><i class="fa fa-github"></i></a> &nbsp;
                    <a href="skype:jackwhiting92?chat"><i class="fa fa-skype"></i></a> &nbsp;
                    <a href="http://open.spotify.com/user/jackwhiting92"><i class="fa fa-spotify"></i></a> &nbsp;
                </p>

            </div>
        </div>
    </section>

    <section class="section alt testimonials" id="testimonials">
        <div class="constrain">
            <h3 class="section__title">Testimonials</h3>
            <div class="section__divider"></div>
            <p class="section__description">What people have said about working with me.</p>
            <!-- loop the testimonials here -->

            <div class="row">
              <div class="testimonial__item">
                <div><p>&ldquo;Jack has been a great find for myself and my company. He is very prompt on responses and delivery of his services. That would be outstanding alone, but he also is great at what he does. The quality of his work is top notch and I hope if everyone I work with in the future is as talented and passionate as him.&rdquo;</p><span class="quote-arrow"></span></div>
                <span class="testimonial__item-citation">Brian Pensinger</span>
              </div>

              <div class="testimonial__item">
                <div><p>&ldquo;I would have no doubt whatsoever in recommending Jack for website design. He has an incredibly quick mind, is very knowledgeable about the web, and I have been delighted with his work. So much so that he now hosts my site as well, and I know that he is constantly tweaking at things so I am confident in the fact that everything is working as it should.&rdquo;</p><span class="quote-arrow"></span></div>
                <span class="testimonial__item-citation">Anne Williams</span>
              </div>

              <div class="testimonial__item omega">
                <div><p>&ldquo;Jack is a well organised, thorough and superb Client to work with, his time management and skills are fantastic and is an overall pleasure to work with. I would recommend Jack as a Web Designer/Developer to any business wanting to enhance their online branding.&rdquo;</p><span class="quote-arrow"></span></div>
                <span class="testimonial__item-citation">Harry Vann</span>
              </div>
            </div>
        </div>
    </section>

    <section class="section last contact" id="contact">
        <div class="constrain">
            <h3 class="section__title">Contact</h3>
            <div class="section__divider"></div>
            <p class="section__description">Get in touch about your project or just to say hello!</p>

            <form name="htmlform" method="post" action="{{ path src="email.php" }}" class="row">
                <div class="one-half">
                    <label>Your Name <span class="required">(required)</span></label>
                    <input type="text" name="name" required>
                    <label>Your Email <span class="required">(required)</span></label>
                    <input type="email" name="email" required>
                    <label>Subject</label>
                    <input type="text" name="subject" required>
                </div>
                <div class="one-half last">
                    <label>Message <span class="required">(required)</span></label>
                    <textarea name="comments" cols="20" rows="5" required ></textarea>
                    <button name="send" type="submit" class="submit">Send Your Message</button>
                </div>
            </form>

        </div>
    </section>

    {{ theme:partial src="_footer" }}

    <script src="{{ theme:asset src="dist/js/all.js" }}"></script>
</body>
</html>
